@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Mukta:wght@200;300;400;500;600;700;800&display=swap'); */



*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* main container max width  */
  --main-container-max-width: 700px;
  /* we have used this value in index/account.css in login box so that we can't get the transition effect on loading if i use left:50% and translateX(-50%) media rule  */

  /* main navigation height */
  --main-nav-height: 50px;
  --main-nav-width: 58px;

  /* application colors  */
  --page-color: #ffffff;
  /* --first-color: #162527;
  --second-color: #08af7c;
  --third-color: #ECB365;
  --fourth-color: #ffffff; */
  --first-color: #1E201E;
  --second-color: #3C3D37;
  --third-color: #697565;
  --fourth-color: #ECDFCC;

  --light-color: #ffffff;
  --dark-color: #141615;
  --danger-color: #eb6600;
  --success-color: #a7f9a7;
  /* information color  */
  --information-light-color: #bbbbbb;
  --information-dark-color: #444444;
  /* password strength color  */
  --password-strong-color: #a7f9a7;
  --password-medium-color: #a1d8eb;
  --password-weak-color: #e0c67d;
  /* notification color  */
  --notification-color: #a1d8eb;
  --notification-border-color: #4cb3d4;
  --notification-error-color: #e0c67d;
  --notification-error-border-color: #e6a700;
  --notification-success-color: #97dd97;
  --notification-success-border-color: #009400;



  /* profile color  */
  --profile-text-color: #413F42;
  /* --profile-text-light-color: #f2f2f2; */
  /* --profile-text-medium-color: #aaa; */







  /* error page color  */
  --error-page-title-color: #413F42;
  --error-page-message-color: #aaa;
  /* for rgba so that we can use the alpha value  */
  /* application rgba color */
  --rgba-page-color: 255, 255, 255;
  /* --rgba-first-color: 22, 37, 39;
  --rgba-second-color: 8, 175, 124;
  --rgba-third-color: 236, 179, 101;
  --rgba-fourth-color: 255, 255, 255; */
  /* --rgba-first-color: 30, 32, 30;
  --rgba-second-color: 60, 61, 55;
  --rgba-third-color: 105, 117, 101;
  --rgba-fourth-color: 236, 223, 204; */
  --rgba-first-color: 30, 32, 30;
  --rgba-second-color: 106, 156, 137;
  --rgba-third-color: 105, 117, 101;
  --rgba-fourth-color: 236, 223, 204;
  /* --rgba-light-color: 255, 255, 255; */
  --rgba-light-color: 236, 223, 204;
  /* --rgba-dark-color: 20, 22, 21; */
  --rgba-dark-color: 30, 32, 30;
  --rgba-danger-color: 204, 59, 33;
  --rgba-success-color: 167, 249, 167;
}

svg {
  width: 100%;
  height: 100%;
}

.uppy-Root svg {
  width: initial;
  height: initial;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: var(--page-color);
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  font-family: 'Nunito', Helvetica, Arial, sans-serif;
  /* font-family: 'Mukta', sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow: hidden;
}


.main-content-container {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgba(var(--rgba-dark-color), 1);

}

@media screen and (min-width: 800px) {
  .main-content-container {
    width: calc(100% - var(--main-nav-width));
    height: 100%;
  }
}

@media screen and (max-width: 799px) {
  .main-content-container {
    width: 100%;
    height: calc(100% - var(--main-nav-height));
  }
}