<div class="attachment-btn-section">
    <div class="attachment-btn-box">
        <div class="attachment-btn-box__icon" id="activeChatInputAttachmentYoutubeBtn">
            <%- include("../partials/icons/youtubeBtn.svg") -%>
        </div>
        <div class="attachment-btn-box__input-box
        attachment-btn-box__input-box--hide" id="activeChatInputAttachmentYoutubeBtnData">
            <input type="url" class="attachment-btn-section__input" placeholder="Youtube Url"
                id="activeChatInputYoutubeContent">
            <div class="attachment-btn-section__send" id="activeChatInputYoutubeContentSendBtn">Send
            </div>
        </div>
    </div>
    <div class="attachment-" id="activeChatInputAttachmentFileBtn">
        <div class="attachment-btn-section__row">
            <div class="attachment-btn-section__img">
                <%- include("../partials/icons/fileBtn.svg") -%>
            </div>

        </div>

    </div>