.call-main-container {
    position: relative;
    width: 100%;
    height: 100%;
    /* max-width: var(--main-container-max-width); */
    /* height: calc(100% - var(--main-nav-height)); */
    background: rgba(var(--rgba-dark-color), 1);
    overflow: hidden;
}

svg {
    width: 100%;
    height: 100%;
}


.waiting-section {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(var(--rgba-dark-color), 1);
    animation: waitingSectionAnimation 1s 1 both;
}




@keyframes waitingSectionAnimation {
    0% {
        opacity: 0;

    }

    90% {
        opacity: 90%;
    }

    100% {
        opacity: 100%;
    }
}

.waiting-section--hide {
    display: none;
}

.waiting-section__anima-box {
    position: relative;
    width: 150px;
    height: 150px;
    /* border: 3px solid rgba(var(--rgba-fourth-color), 0.1); */
    border-radius: 50%;
    text-align: center;
    line-height: 150px;
    font-size: 15px;
    color: rgba(var(--rgba-fourth-color), 1);
    letter-spacing: 4px;
    text-shadow: 0 0 10px rgba(var(--rgba-fourth-color), 1);
    /* box-shadow: 0 2px 50px 0px rgba(var(--rgba-fourth-color), 0.6); */
}

.waiting-section__anima-box:before {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    width: 100%;
    height: 100%;
    /* border-left: 3px solid transparent; */
    border-bottom: 3px solid transparent;
    border-top: 3px solid rgba(var(--rgba-fourth-color), 0.5);
    border-right: 3px solid rgba(var(--rgba-fourth-color), 0.5);
    border-radius: 50%;
    animation: animateC 2s linear infinite;
}

.waiting-section__anima-box span {
    display: block;
    position: absolute;
    top: calc(50% - 2px);
    left: 50%;
    width: 50%;
    height: 4px;
    background: transparent;
    transform-origin: left;
    animation: animate 2s linear infinite;
}

.waiting-section__anima-box span:before {
    content: '';
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: rgba(var(--rgba-fourth-color), 1);
    top: -6px;
    right: -8px;
    box-shadow: 0 0 20px rgba(var(--rgba-fourth-color), 1);
}

@keyframes animateC {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animate {
    0% {
        transform: rotate(45deg);
    }

    100% {
        transform: rotate(405deg);
    }
}





.before-call-section {
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.before-call-section::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

@media screen and (min-width: 1100px) {
    .before-call-section {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;

    }

}

@media screen and (max-width: 1100px) {
    .before-call-section {
        width: 100%;
        height: 100%;
        display: inline-block;
        padding: 0px 0px;

    }
}



.before-call-section--hide {
    display: none;
}

.before-call-section__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    /* display: none; */
}


.room-info-container {
    width: 100%;
    max-width: 348px;
    border: 1px solid rgba(var(--rgba-fourth-color), 0.1);
    border-radius: 10px;
    background: rgba(var(--rgba-dark-color), 1);
    padding: 30px 0;
    overflow: hidden;
    /* margin: 0 auto; */
}

@media screen and (min-width: 1100px) {
    .room-info-container {
        margin: 0 0 0 0;

    }
}

@media screen and (max-width: 1100px) {
    .room-info-container {
        margin: 15px auto;
    }
}

.room-info-container ::selection {
    /* color: transparent; */
    background-color: transparent;
}

.creating-room-info {
    width: 100%;
}

.creating-new-room {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.creating-new-room__pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(var(--rgba-fourth-color), 0.1);
    overflow: hidden;
}

.creating-new-room__pic svg {
    display: none;
    fill: rgba(var(--rgba-fourth-color), 0.6);
    padding: 21px;
    transform: translate(3px, -3px);
}

.creating-new-room__pic--svg svg {
    display: inline-block;

}

.creating-new-room__pic img {
    display: none;
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

.creating-new-room__pic--img img {
    display: inline-block;
}


.creating-new-room__name {
    width: 80%;
    font-size: 15px;
    font-weight: 700;
    color: rgba(var(--rgba-fourth-color), 1);
    margin: 10px 0 0 0;
}

.creating-new-room__name input {
    width: 100%;
    font-size: 14px;
    letter-spacing: 0.5px;
    font-weight: 500;
    border-radius: 7px;
    padding: 7px 8px 7px 8px;
    border: none;
    outline: none;
    color: rgba(var(--rgba-first-color), 1);
}

.creating-new-room__about {
    width: 80%;
    font-size: 15px;
    font-weight: 700;
    color: rgba(var(--rgba-fourth-color), 1);
    margin: 5px 0 0 0;
}

.creating-new-room__about textarea {
    width: 100%;
    min-height: 65px;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-radius: 7px;
    padding: 7px 8px 7px 8px;
    border: none;
    outline: none;
    resize: vertical;
    color: rgba(var(--rgba-first-color), 1);
}



::placeholder {
    color: rgba(var(--rgba-first-color), 0.2);
}

:-ms-input-placeholder {
    color: rgba(var(--rgba-first-color), 0.2);

}

::-ms-input-placeholder {
    color: rgba(var(--rgba-first-color), 0.2);

}

.creating-new-room__btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 8px;
    color: rgba(var(--rgba-fourth-color), 0.8);
    background: rgba(var(--rgba-fourth-color), 0.1);
    font-size: 15px;
    font-weight: 800;
    border-radius: 10px;
    cursor: pointer;
}

.creating-new-room__btn--select-calltype {
    margin: 10px 0 0 0;
    display: none;
}

.creating-new-room__btn--create-call {
    background: rgba(var(--rgba-third-color), 1);
    color: rgba(var(--rgba-first-color), 1);
}

.creating-new-room__btn-icon {
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
}

.creating-new-room__btn-icon svg {
    fill: rgba(var(--rgba-fourth-color), 1);
}

.creating-new-room__btn-info {
    margin: 15px 0 4px 0;
    font-size: 13px;
    font-weight: 600;
    color: rgba(var(--rgba-fourth-color), 0.4);
}

.call-room {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* display: none; */
}

.call-room__pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(var(--rgba-fourth-color), 0.1);
}

.call-room__pic svg {
    display: none;
    fill: rgba(var(--rgba-fourth-color), 0.6);
    padding: 21px;
    transform: translate(-3px, 2px);
}

.call-room__pic--svg svg {
    display: inline-block;

}

.call-room__pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
}

.call-room__pic--img img {
    display: inline-block;

}

.call-room__name {
    font-size: 23px;
    font-weight: 900;
    margin: 10px 0 0 0;
    color: rgba(var(--rgba-fourth-color), 1);
    text-align: center;
}


.call-room__btn-info {
    margin: 15px 0 4px 0;
    font-size: 13px;
    font-weight: 600;
    color: rgba(var(--rgba-fourth-color), 0.4);
}

.call-room__btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 8px;
    color: rgba(var(--rgba-fourth-color), 0.8);
    background: rgba(var(--rgba-fourth-color), 0.1);
    font-size: 15px;
    font-weight: 800;
    border-radius: 10px;
    cursor: pointer;
}

.call-room__btn-icon {
    width: 15px;
    height: 15px;
    margin: 0 5px 0 0;
}

.call-room__btn-icon svg {
    fill: rgba(var(--rgba-fourth-color), 1);
}


.call-room__btn--select-calltype {
    margin: 10px 0 0 0;
    display: none;
}

.call-room__btn--create-call {
    background: rgba(var(--rgba-third-color), 1);
    color: rgba(var(--rgba-first-color), 1);
}

.call-room__btn--join-call {
    background: rgba(var(--rgba-third-color), 1);
    color: rgba(var(--rgba-first-color), 1);
}

.call-room__participants {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 15px;
}

.call-room__participants-icon {
    width: 30px;
    height: 30px;
    margin: 0 5px 0 0;
}

.call-room__participants-icon svg {
    fill: rgba(var(--rgba-second-color), 0.4);
}

.call-room__participants-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    color: rgba(var(--rgba-second-color), 0.4);
}

.call-room__participants-count {
    font-size: 16px;
    font-weight: 800;
    color: rgba(var(--rgba-second-color), 0.4);
}

.call-room__user-container {
    width: 80%;
    max-height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid rgba(var(--rgba-fourth-color), 0.1);
    border-radius: 5px;
    padding: 0px 5px 0px 5px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.call-room__user-container::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.call-room-user {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 4px 0;
    padding: 2px 10px 2px 6px;
    border: 1px solid rgba(var(--rgba-fourth-color), 0.1);
    border-radius: 12px;
}

.call-room-user__pic {
    width: 30px;
    height: 30px;
    background: rgba(var(--rgba-fourth-color), 0.2);
    border-radius: 50%;
    overflow: hidden;
}

.call-room-user__pic svg {
    padding: 4px;
    fill: rgba(var(--rgba-first-color), 1);
    display: none;
}

.call-room-user__pic--svg svg {
    display: inline-block;

}

.call-room-user__pic img {
    width: 100%;
    height: 100%;
    background-size: cover;
    scale: 1.1;
    border-radius: 50%;
    display: none;
}

.call-room-user__pic--img img {

    display: inline-block;
}

.call-room-user__name {
    font-size: 15px;
    font-weight: 600;
    color: rgba(var(--rgba-fourth-color), 1);
    margin: 0px 10px 0px 12px;
}



/* ///////////////////////////////////////////////////////////////////////////////////////////////// */


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.on-call-section {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}

.on-call-section--hide {
    display: none;
}

.on-call-main-view {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(var(--rgba-dark-color), 1);
}

.on-call-main-view-user-box-container {
    width: 100%;
    height: 100%;
    /* background: rgba(var(--rgba-first-color),1); */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.on-call-main-view-user-box-container--hide {
    display: none;
}


.on-call-main-view-user-box-container .on-call-user-box {

    border-radius: 10px;

    padding: 5px;
}

.on-call-btn.on-call-btn--room-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 5px 5px;
}

.on-call-call-status {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.on-call-call-status--hide {
    display: none;
}

.on-call-call-status__room-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: rgba(var(--rgba-fourth-color), 0.1);
}

.on-call-call-status__room-pic svg {
    display: none;
    fill: rgba(var(--rgba-fourth-color), 0.6);
    padding: 21px;
    transform: translate(-3px, 2px);
}

.on-call-call-status__room-pic--svg svg {
    display: inline-block;

}

.on-call-call-status__room-pic img {
    width: 100%;
    height: 100%;
    background-size: cover;
    scale: 1.1;
    border-radius: 50%;
    display: none;
}

.on-call-call-status__room-pic--img img {
    display: inline-block;
}

.on-call-call-status__room-status {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.on-call-call-status__room-status-text {
    font-size: 15px;
    font-weight: 600;
    color: rgba(var(--rgba-fourth-color), 1);
    letter-spacing: 1.5px;
    margin: 20px 0;
}

.on-call-call-status__room-status-effect {
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0, -50%);
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.on-call-call-status__room-status-effect--hide {
    display: none;
}

.on-call-call-status__room-status-effect span {
    display: inline-block;
    padding: 0 3px 0 0;
    font-weight: 900;
    color: rgba(var(--rgba-fourth-color), 1);
}

.on-call-call-status__room-status-effect span:nth-child(1) {
    animation: onCallCallStatusRoomStatusEffect 1.2s 0s infinite alternate both;
    padding-left: 2px;
}

.on-call-call-status__room-status-effect span:nth-child(2) {
    animation: onCallCallStatusRoomStatusEffect 1.2s 0.3s infinite alternate both;
}

.on-call-call-status__room-status-effect span:nth-child(3) {
    animation: onCallCallStatusRoomStatusEffect 1.2s 0.5s infinite alternate both;
}

@keyframes onCallCallStatusRoomStatusEffect {

    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}



.on-call-slider-user-box-container .on-call-user-box {
    width: 170px;
    border-radius: 10px;
    margin: 0 5px 0 0;
}

.on-call-user-box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.on-call-user-box ::selection {
    /* color: transparent; */
    background-color: transparent;
}


.on-call-user-box__video {
    position: relative;
    width: 100%;
    height: 100%;
    /* border: 1px solid green; */
    background: rgba(var(--rgba-first-color), 1);
    overflow: hidden;
}

.on-call-user-box__video video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.on-call-user-box__video--camera video {
    transform: scaleX(-1);
}

.on-call-user-box__audio {
    width: 25px;
    height: 25px;
    padding: 5px;
    /* min-width: 25px; */
    /* max-width: 30px; */
    /* min-height: 25px; */
    /* max-height: 30px; */
    position: absolute;
    top: 5px;
    right: 5px;
    border-radius: 50%;
    background: rgba(var(--rgba-fourth-color), 0.1);
}

.on-call-user-box__audio-icon {
    width: 100%;
    height: 100%;
}

.on-call-user-box__audio-icon svg {
    fill: rgba(var(--rgba-fourth-color), 1);
}

.on-call-user-box__audio-icon--on {
    display: none;
}

.on-call-user-box__audio-icon--off {
    display: none;
}

.on-call-user-box__audio--off .on-call-user-box__audio-icon--off {
    display: flex;
    justify-content: center;
    align-items: center;
}

.on-call-user-box__audio--on .on-call-user-box__audio-icon--on {
    display: flex;
    justify-content: center;
    align-items: center;
}



.on-call-user-box__audio-icon--on svg {
    fill: rgba(var(--rgba-fourth-color), 1);
}

.on-call-user-box__audio-icon--off svg {
    fill: rgba(var(--rgba-fourth-color), 1);
}

.on-call-user-box__info {
    position: absolute;
    bottom: 0;
    /* left: 10px; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.on-call-user-box__pic {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    display: none;
}

.on-call-user-box__pic img {
    width: 100%;
    height: 100%;
    background-size: cover;
    scale: 1.1;
    border-radius: 50%;
    display: none;
}

.on-call-user-box__pic--img img {
    display: inline-block;
}

.on-call-user-box__pic svg {
    display: none;
    fill: rgba(var(--rgba-fourth-color), 0.1);
    padding: 5px;
}


.on-call-user-box__pic--svg svg {
    display: inline-block;
}

.on-call-user-box__name {
    font-size: 15px;
    font-weight: 800;
    color: rgba(var(--rgba-fourth-color), 1);
    text-align: center;
    margin: 6px 0 0 0;
}

.on-call-user-box--video-off .on-call-user-box__info {
    height: 100%;

}

.on-call-user-box--video-off .on-call-user-box__pic {
    display: flex;
    justify-content: center;
    align-items: center;

}

.on-call-user-box--video-off .on-call-user-box__video video {
    display: none;
}


.on-call-user-box__btn-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
}

.on-call-user-box:hover .on-call-user-box__btn-container {
    opacity: 1;
}

.on-call-user-box__btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 8px 10px;
    color: rgba(var(--rgba-fourth-color), 0.8);
    background: rgba(var(--rgba-fourth-color), 0.1);
    font-size: 15px;
    font-weight: 800;
    border-radius: 10px;
    cursor: pointer;
}

.on-call-user-box__btn-icon {
    width: 20px;
    height: 20px;
    display: none;

}

.on-call-slider-user-box-container .on-call-user-box__btn-icon--slider {
    display: inline-block;
}

.on-call-main-view-user-box-container .on-call-user-box__btn-icon--main-view {
    display: inline-block;
}

.on-call-user-box__btn-icon svg {
    fill: rgba(var(--rgba-light-color), 0.9);
}




.on-call-main-view-user-box-container .on-call-user-box__info {
    bottom: 100%;
    transform: translate(0, 100%);
    /* opacity: 0; */
    transition: all 0.5s;
}

.on-call-main-view-user-box-container .on-call-user-box__info:hover {
    /* opacity: 1; */
}


.on-call-user-box-slider {
    position: absolute;
    /* width: 90%; */
    height: 120px;
    /* background: rgba(var(--rgba-fourth-color), 1); */
    margin: 0px 0 0 0;
    bottom: 0;
    right: 0;
    /* border: 1px solid rgba(var(--rgba-fourth-color), 0.1); */
    /* border-radius: 10px 0px 0px 10px; */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s;
}

.on-call-user-box-slider--hide {

    display: none;
}

.on-call-user-box-slider--slide {
    transform: translate(100%, 0);
}

.on-call-slider-user-box-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.on-call-user-box-slider-btn {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgba(var(--rgba-first-color), 1); */
    /* margin: 0 15px; */
    padding: 5px;
    border-radius: 50%;
    position: absolute;
    right: 101%;
    top: 50%;
    transform: translate(0, -50%);
    cursor: pointer;
}

.on-call-user-box-slider-btn__icon {
    width: 100%;
    height: 100%;
}

.on-call-user-box-slider-btn__icon svg {
    fill: rgba(var(--rgba-fourth-color), 0.8);
}

.on-call-user-box-slider-btn__icon--selected {
    display: none;
}

.on-call-user-box-slider-btn--selected .on-call-user-box-slider-btn__icon--selected {
    display: flex;
    justify-content: center;
    align-items: center;
}

.on-call-user-box-slider-btn__icon--unselected {
    display: none;
}

.on-call-user-box-slider-btn--unselected .on-call-user-box-slider-btn__icon--unselected {
    display: flex;
    justify-content: center;
    align-items: center;
}




.on-call-main-btn-container {
    width: 100%;
}

@media screen and (min-width: 500px) {
    .on-call-main-btn-container {

        display: flex;
        justify-content: center;
        align-items: center;
        padding: 8px 0 8px 0;
        border: 1px solid rgba(var(--rgba-fourth-color), 0.1);
    }

}

@media screen and (max-width: 500px) {
    .on-call-main-btn-container {

        border: 1px solid rgba(var(--rgba-fourth-color), 0.1);
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 8px 0 8px 0;

    }

}

.on-call-main-btn-container--hide {
    display: none;
}

.on-call-btn {

    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgba(var(--rgba-first-color), 1); */
    border-radius: 50%;
    cursor: pointer;
}

@media screen and (min-width: 500px) {
    .on-call-btn {
        width: 40px;
        height: 40px;
        padding: 9px;
        margin: 0 20px;
    }

}

@media screen and (max-width: 500px) {
    .on-call-btn {
        width: 35px;
        height: 35px;
        padding: 9px;
        margin: 0px 5px;
    }

}

.on-call-btn--selected {
    background: rgba(var(--rgba-fourth-color), 1);
}

.on-call-btn--unselected {
    background: rgba(var(--rgba-fourth-color), 0.1);
}

.on-call-btn--disable {
    opacity: 0.5;
}

.on-call-btn__icon {
    width: 100%;
    height: 100%;
}

.on-call-btn__icon svg {
    fill: rgba(var(--rgba-fourth-color), 0.8);
}

.on-call-btn__icon--selected {
    display: none;
}

.on-call-btn--selected .on-call-btn__icon--selected {
    display: flex;
    justify-content: center;
    align-items: center;
}

.on-call-btn__icon--unselected {
    display: none;
}

.on-call-btn--unselected .on-call-btn__icon--unselected {
    display: flex;
    justify-content: center;
    align-items: center;
}


.on-call-btn__icon--selected svg {
    fill: rgba(var(--rgba-first-color), 1);
}

.on-call-btn__icon--unselected svg {
    fill: rgba(var(--rgba-fourth-color), 0.8);

}


.on-call-btn--call-end.on-call-btn--unselected {
    background: rgb(252 62 62 / 61%);
}



















.on-call-btn.on-call-btn--secure-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 5px 5px;
}

.on-call-btn.on-call-btn--view-change {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 30px;
    height: 30px;
    margin: 5px 5px;
}

.on-call-btn--view-change.on-call-btn--selected {
    background: rgba(var(--rgba-fourth-color), 0.1);
}

.on-call-btn--view-change.on-call-btn--selected svg {
    fill: rgba(var(--rgba-fourth-color), 0.8);
}

.on-call-btn--view-change.on-call-btn--unselected {
    background: rgba(var(--rgba-fourth-color), 0.1);
}

/* inner modal  */
.inner-modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--rgba-fourth-color), 0.1);
}

.inner-modal--hide {
    display: none;
}

.inner-modal-content {
    height: auto;
    max-width: 96%;
    max-height: 80%;
    border-radius: 8px;
    background: rgba(var(--rgba-fourth-color), 1);
    animation: innerModalContentAnimation 0.5s ease both;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.inner-modal-content::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}


@keyframes innerModalContentAnimation {
    0% {
        transform: scale(0);
        transform-origin: center bottom;
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}

.inner-modal-content__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.inner-modal-content__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.inner-modal-btns-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5px;
}

.inner-modal-btn {
    font-size: 16px;
    font-weight: 800;
    padding: 7px 17px 7px 17px;
    color: rgba(var(--rgba-fourth-color), 1);
    cursor: pointer;
}

.inner-modal-btn--action {
    color: rgba(var(--rgba-third-color), 1);
}


.after-call-section {
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    animation: afterCallsectionAnimation 1s 1 both;
}

@keyframes afterCallsectionAnimation {
    0% {

        transform: translate(0, -100%);

    }

    100% {
        transform: translate(0, 0);
    }
}

.after-call-section--hide {
    display: none;
}

.after-call-message {
    margin: 100px 0 0 0;
    font-size: 28px;
    font-weight: 800;
    color: rgba(var(--rgba-fourth-color), 1);
}

.after-call-row {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.after-call-row--btn-container {
    margin: 25px 0 0 0;
}

.after-call-column {}

.after-call-btn {
    padding: 5px 8px;
    font-size: 15px;
    font-weight: 800;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(var(--rgba-fourth-color), 1);
    color: rgba(var(--rgba-first-color), 1);
    border: 1px solid rgba(var(--rgba-first-color), 1);
    border-radius: 8px;
    margin: 0 7px 0 7px;
}

.after-call-btn--hide {
    display: none;
}

.after-call-btn svg {
    width: 14px;
    height: 14px;
    margin: 0 5px 0 0;
    fill: rgba(var(--rgba-first-color), 1);
}

.after-call-btn--rejoin {
    /* background: rgba(var(--rgba-third-color),1); */
}

.after-call-btn--new-call {
    background: rgba(var(--rgba-third-color), 1);
    color: rgba(var(--rgba-first-color), 1);
}

.after-call-btn--new-call svg {
    fill: rgba(var(--rgba-first-color), 1);
}

.after-call-btn--back-home {
    background: transparent;
    color: rgba(var(--rgba-fourth-color), 1);
    position: absolute;
    bottom: 35px;
    left: 5px;
    border: 1px solid rgba(var(--rgba-fourth-color), 1);
}

.after-call-btn--back-home svg {
    fill: rgba(var(--rgba-fourth-color), 1);
}

.after-call-btn--feedback {
    background: transparent;
    color: rgba(var(--rgba-fourth-color), 1);
    position: absolute;
    border: 1px solid rgba(var(--rgba-fourth-color), 1);
}

@media screen and (max-width: 500px) {
    .after-call-btn--feedback {

        bottom: 20px;
        right: 5px;
        border: 1px solid rgba(var(--rgba-fourth-color), 1);
    }

}

@media screen and (min-width: 500px) {
    .after-call-btn--feedback {
        bottom: 20px;
        right: 5px;
        border: 1px solid rgba(var(--rgba-fourth-color), 1);
    }

}

/* /////////////////////////////////////////////////////////////////////////////// */
.on-call-section-audio {
    display: none;
}