.user-notification {
    margin: 5px 0;
    width: 100%;
    border: 1px solid rgba(var(--rgba-light-color), 0.1);
    border-radius: 10px;
    /* background-color: rgba(var(--rgba-dark-color),1); */
    padding: 2px 5px;
}

.user-notification-container__notification {
    margin: 8px 0 5px 0;
}


.user-notification__link {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    color: rgba(var(--rgba-light-color), 1);
}

.user-notification__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.user-notification__column--left-margin {
    margin-left: 7px;
}

.user-notification__pic {
    width: 40px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(var(--rgba-light-color), 0.1);
    border-radius: 50%;
}

.user-notification__pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: none;
}

.user-notification__pic svg {
    fill: rgba(var(--rgba-light-color), 0.2);
    stroke: rgba(var(--rgba-first-color), 1);
    stroke-width: 1;
    display: none;
}


.user-notification__pic--img img {
    display: inline-block;
}

.user-notification__pic--svg svg {
    display: inline-block;
    padding: 6px;
}

.user-notification__content {
    font-size: 16px;
    font-weight: 500;
    line-height: 16px;
}

.user-notification__username {
    font-weight: 700;
    margin-right: 5px;
}

.user-notification__passed-time {
    opacity: 0.7;
    margin-left: 5px;
    font-size: 14px;
}

.user-notification__second-content {
    font-size: 13px;
    font-weight: 400;
}