/* //////////////////////////////////// */


.main-notification {
    position: fixed;
    bottom: calc(var(--main-nav-height) + 2px);
    right: 50%;
    transform: translateX(50%);
    width: 90%;
    max-width: calc(var(--main-container-max-width) - 30px);
    padding: 5px 10px;
    cursor: pointer;
    border: 1px solid rgba(var(--rgba-first-color), 0.5);
    border-radius: 12px;
    z-index: 101;
    /* mainNavigation z-index = 100 */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    animation: mainNotification 1s ease-in-out 1 both;
}

.main-notification--info {
    background: rgba(var(--rgba-main-notification-info-color), 0.4);
    border-left: 5px solid rgba(var(--rgba-main-notification-info-color), 1);
}

.main-notification--error {
    background: rgba(var(--rgba-main-notification-error-color), 0.4);
    border-left: 5px solid rgba(var(--rgba-main-notification-error-color), 1);
}


.main-notification--success {
    background: rgba(var(--rgba-main-notification-success-color), 0.4);
    border-left: 5px solid rgba(var(--rgba-main-notification-success-color), 1);
}

@keyframes mainNotification {
    0% {
        transform: translateX(2000px);
    }

    90% {

        transform: translateX(40%);
    }

    100% {
        transform: translateX(50%);

    }

}

.main-notification__header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.main-notification__icon {
    width: 23px;
    height: 23px;
}

.main-notification__icon svg {}

.main-notification--info .main-notification__icon svg {
    fill: rgba(var(--rgba-main-notification-info-text-color), 1);
}

.main-notification--error .main-notification__icon svg {
    fill: rgba(var(--rgba-main-notification-error-text-color), 1);

}

.main-notification--success .main-notification__icon svg {
    fill: rgba(var(--rgba-main-notification-success-text-color), 1);

}

.main-notification__title {
    font-size: 20px;
    font-weight: 800;
    margin: 0 0 0 5px;
}

.main-notification--info .main-notification__title {
    color: rgba(var(--rgba-main-notification-info-text-color), 1);
}

.main-notification--error .main-notification__title {
    color: rgba(var(--rgba-main-notification-error-text-color), 1);
}

.main-notification--success .main-notification__title {
    color: rgba(var(--rgba-main-notification-success-text-color), 1);

}

.main-notification__content {
    font-size: 15px;
    font-weight: 600;
}

.main-notification--info .main-notification__content {
    color: rgba(var(--rgba-main-notification-info-text-color), 1);
}

.main-notification--error .main-notification__content {
    color: rgba(var(--rgba-main-notification-error-text-color), 1);
}

.main-notification--success .main-notification__content {
    color: rgba(var(--rgba-main-notification-success-text-color), 1);
}



.main-notification__timer-and-close-icon {
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translate(0, -50%);
    width: 30px;
    height: 30px;
}

.main-notification__timer-and-close-icon svg {
    /* fill: rgba(var(--rgba-main-notification-info-color),1); */
}

.main-notification__timer-and-close-icon svg .timerPath {
    stroke-width: 20;
    stroke-dasharray: 160px;
    fill: transparent;
    animation: timerPathAnimation 10s linear 1 both;
}

@keyframes timerPathAnimation {
    0% {

        stroke-dashoffset: 0px;
    }

    100% {
        stroke-dashoffset: 160px;
        stroke: transparent;

    }
}

.main-notification--info .main-notification__timer-and-close-icon svg .timerPath {
    stroke: rgba(var(--rgba-main-notification-info-color), 1);
}

.main-notification--error .main-notification__timer-and-close-icon svg .timerPath {
    stroke: rgba(var(--rgba-main-notification-error-color), 1);
}

.main-notification--success .main-notification__timer-and-close-icon svg .timerPath {
    stroke: rgba(var(--rgba-main-notification-success-color), 1);
}

.main-notification--info .main-notification__timer-and-close-icon svg .closePath {
    fill: rgba(var(--rgba-main-notification-info-text-color), 1);
}

.main-notification--error .main-notification__timer-and-close-icon svg .closePath {
    fill: rgba(var(--rgba-main-notification-error-text-color), 1);
}

.main-notification--success .main-notification__timer-and-close-icon svg .closePath {
    fill: rgba(var(--rgba-main-notification-success-text-color), 1);
}