.main-forgotPassword-container {
    position: relative;
    width: 100%;
    max-width: var(--main-container-max-width);
    height: calc(100% - var(--main-nav-height));
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    background-color: var(--first-color);

}

.main-forgotPassword-container::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.main-forgotPassword-container>header {
    font-size: 1.7rem;
    font-weight: 800;
    margin-top: 20px;
    text-align: center;
    color: var(--second-color);
}

.forgotPassword-progress {
    margin-top: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    position: relative;

}

.forgotPassword-progress::after {
    content: '';
    width: 100%;
    height: 3px;
    position: absolute;
    top: 100%;
    background: linear-gradient(rgba(var(--rgba-second-color), 0.7), transparent);
}

.forgotPassword-progress .forgotPassword-progress-info {
    align-self: flex-start;
    margin-left: 5%;
}

.forgotPassword-progress .forgotPassword-progress-info .step {
    font-size: 1.1rem;
    font-weight: 700;
    opacity: 0.6;
    color: var(--second-color);
}

.forgotPassword-progress .forgotPassword-progress-info .step-info {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--second-color);

}

.forgotPassword-progress .forgotPassword-progress-bar {
    width: 90%;
    height: 10px;
    border-radius: 20px;
    border: 2px solid var(--second-color);
    margin-bottom: 20px;

}

.forgotPassword-progress .forgotPassword-progress-bar .forgotPassword-progress-bar-highlighter {
    height: 100%;
    width: 33%;
    border-radius: 20px 0 0 20px;
    background-color: var(--second-color);
    transition: all 0.8s;
}

/* forgot password form  */
.forgotPassword-form {

    position: relative;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.forgotPassword-form::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}


.forgotPassword-form .forgotPassword-form-page {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    transition: all 0.5s ease;

}

.forgotPassword-form .forgotPassword-form-page::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}


.forgotPassword-form .forgotPassword-form-page:not(#forgotPasswordFormPage1) {
    left: 150%;
}


/* notification field  */
.notification-field {
    position: relative;
    top: 20px;
    width: 90%;
    margin: auto;
    align-self: right;
    background-color: var(--notification-color);
    border: 1px solid var(--second-color);
    border-radius: 20px;
    padding: 5px 10px;
    font-weight: 800;
    text-align: center;
    visibility: hidden;
    transition: all 0.8s;
    position: relative;
    right: 100%;
}

.notification-field.show {
    visibility: visible;
    right: 0%;


}

.notification-field.error {

    background-color: var(--notification-error-color);
}

.notification-field.success {

    background-color: var(--notification-success-color);
}


.forgotPassword-form-page .input-field {
    width: 100%;
    margin-top: 50px;
    position: relative;
}

.forgotPassword-form-page .input-field#mobilePageInputField {
    margin-top: 90px;
}

.input-field input {
    position: relative;
    width: 90%;
    left: 5%;
    height: 50px;
    padding: 10px 15px 5px 15px;
    /* margin: 10px auto; */
    /* input has 90% width it make it center */
    /* margin-top: 10px; */
    border: none;
    outline: none;
    font-size: 1.1rem;
    font-weight: 500;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    background: rgba(var(--rgba-second-color), 0.4);
    color: var(--first-color);

}

.input-field span#sendOtp {
    position: absolute;
    right: 7%;
    width: 10%;
    height: 100%;
}

@media screen and (max-width: 300px) {
    .input-field span#sendOtp {
        width: 15%;
    }
}

.input-field span#sendOtp svg {
    width: 100%;
    height: 100%;
}

/* forgot password otp section  */

#mobilePageData {
    width: 90%;
    margin: auto;
    margin-top: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;

}

#mobileData {
    color: var(--third-color);
    letter-spacing: 1px;
    font-size: 1.3rem;
    font-weight: 800;

}

#backToMobilePage {
    font-size: 0.9rem;
    margin-left: 10px;
    color: var(--second-color);
    text-decoration: underline;
}

#otp {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: 90%;

    margin: auto;
    margin-top: 10px;


}

#otp input {
    width: 14.5%;
    /* 100/6= 15.66666 */
    text-align: center;
    padding: 5px 0;
    height: auto;
    font-weight: 700;
    font-size: 1.2rem;
    border: none;
    outline: none;
    border-radius: 10px;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
    background: rgba(var(--rgba-second-color), 0.3);
    color: var(--first-color);
    transition: all 0.1s;
}

#otp input:focus {
    box-shadow: 1px 1px 2px var(--second-color), -1px -1px 2px var(--second-color)
}

.disabled {
    opacity: 0.5;
}

.space {
    margin-right: 5px !important;
}

.btn-field {
    margin-top: 30px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn-field #getNewPasswordForm {
    width: 100px;
    height: 50px;
    padding: 10px 15px;
    border-radius: 20px;
    border: 1px dashed var(--second-color);

    /* box-shadow: 1px 1px 2px var(--second-color); */
}

.btn-field #getNewPasswordForm:hover {
    border: 1px solid var(--second-color);
}

#getNewPasswordForm svg {
    width: 100%;
    height: 100%;
    fill: var(--second-color);
    transform: scale(2);

}

/* new password creation  */
#forgotPasswordFormPage3 .input-field {
    margin-top: 0;
    width: 100%;
    margin-bottom: 20px;
}

#forgotPasswordFormPage3 .input-field label {
    margin-left: 5%;
    color: var(--second-color);
    font-weight: 800;
}

#forgotPasswordFormPage3 .input-field h2 {
    margin: 20px 10px;
    width: 95%;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--information-light-color);
}

#forgotPasswordFormPage3 .input-field ul {
    margin: 10px 0 10px 40px;
    width: 60%;
    font-size: 1rem;
    font-weight: 400;
    color: var(--information-light-color);
}

#forgotPasswordFormPage3 .input-field ul li.true {
    color: var(--success-color)
}

#forgotPasswordFormPage3 .input-field .forgotPassword-container {
    position: relative;
    width: 100%;




}

#forgotPasswordFormPage3 .input-field .forgotPassword-container input {
    width: 90%;
    position: relative;
    right: 5%;

}

/* input is define above   */



#forgotPasswordFormPage3 .input-field .forgotPassword-container span.password-show {
    position: absolute;
    width: 35px;
    height: 35px;
    right: 6%;

    margin-top: 10px;
    /* because input has 10px padding */


}

#forgotPasswordFormPage3 .input-field .forgotPassword-container span.password-show svg {
    width: 100%;
    height: 100%;
    /* margin-top: 10px; */
    /* bcs input margin is 10px */
}

#forgotPasswordFormPage3 .input-field .forgotPassword-container span.password-show svg #passwordShowLine {
    transform: scale(1);

    transition: all 1s ease;
}

#forgotPasswordFormPage3 .input-field .forgotPassword-container span.password-show.show svg #passwordShowLine {
    transform: scale(0) rotate(180deg);
}

#forgotPasswordFormPage3 .input-field .password-strength {

    width: 90%;
    margin: auto;
    /* bcs input field is 90% */
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

#forgotPasswordFormPage3 .input-field .password-strength div {
    width: 25%;
    height: 10px;
    background: var(--first-color);
    border-radius: 15px;
    border: 1px solid var(--second-color);
    transition: all 0.5s;
}

#forgotPasswordFormPage3 .input-field .password-strength div.strong {
    background-color: var(--password-strong-color);
}

#forgotPasswordFormPage3 .input-field .password-strength div.medium {
    background-color: var(--password-medium-color);
}

#forgotPasswordFormPage3 .input-field .password-strength div.weak {
    background-color: var(--password-weak-color);
}

#forgotPasswordFormPage3 .input-field .password-strength div:last-child {
    width: 20%;
    background: none;
    font-size: 1.2rem;
    font-weight: 800;
    color: var(--second-color);
    margin-top: -10px;
    text-align: right;
    border: none;


}



#forgotPasswordFormPage3 .input-field #confirmPasswordCheck {
    width: 90%;
    margin: auto;
    margin-top: 30px;
    text-align: right;
    background: none;
    font-size: 1.1rem;
    font-weight: 800;
    color: var(--second-color);
    margin-top: 0px;
    text-align: right;
}

#submitForgotPassword {

    width: 50%;
    margin: 15px 10px;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid black;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
    background-color: var(--third-color);
    color: var(--first-color);
    font-size: 1.3rem;
    font-weight: 800;
    letter-spacing: 0.15rem;
}