<link rel="stylesheet" href="/stylesheets/user-auth/resetPassword.css" />


<div class="main-forgotPassword-container" id='mainForgotPasswordContainer'>
    <header>Reset Password</header>
    <div class="forgotPassword-progress" id="forgotPasswordProgress">
        <div class="forgotPassword-progress-info">
            <div class="step" id="forgotPasswordProgressInfoStep">STEP: 1 OF 3</div>
            <div class="step-info" id="forgotPasswordProgressInfoStepInfo">Your Mobile Number</div>
        </div>
        <div class="forgotPassword-progress-bar">
            <div class="forgotPassword-progress-bar-highlighter" id="forgotPasswordProgressBarhighlighter"></div>
        </div>
    </div>

    <!-- Form Begins -->
    <div class="forgotPassword-form" id="forgotPasswordForm">


        <div class="forgotPassword-form-page" id="forgotPasswordFormPage1">

            <div class="notification-field" id="mobileNotification"></div>
            <div class="input-field" id="mobilePageInputField">

                <input type="number" id="mobileNumber" placeholder="your mobile number..." autocomplete="off">
                <span id="sendOtp">
                    <%- include('../partials/icons/index_account_forgotPasswordSendOtp.svg') -%>
                </span>

            </div>

        </div>
        <div class="forgotPassword-form-page" id="forgotPasswordFormPage2">
            <div class="notification-field" id="otpNotification"></div>
            <div id="mobilePageData"><span id="mobileData">9149337196</span> <span id="backToMobilePage">Change ?</span>
            </div>
            <div id="otp">
                <input type="number" maxlength="1" min="0" max="9" />
                <input type="number" maxlength="1" min="0" max="9" />
                <input class="space" type="number" maxlength="1" min="0" max="9" />
                <input type="number" maxlength="1" min="0" max="9" />
                <input type="number" maxlength="1" min="0" max="9" />
                <input type="number" maxlength="1" min="0" max="9" />
            </div>

            <div class="btn-field">
                <span id="getNewPasswordForm">
                    <%- include('../partials/icons/next.svg') -%>
                </span>


            </div>

        </div>
        <div class="forgotPassword-form-page" id="forgotPasswordFormPage3">
            <div class="notification-field" id="otpNotification"></div>
            <div class="input-field">

                <h2>Please create a secure password including the following criteria below.</h2>
                <ul>
                    <li class="password-rules" id="passwordRule8">atleast 8 letters</li>
                    <li class="password-rules" id="passwordRuleNumber">numbers</li>
                    <li class="password-rules" id="passwordRuleUpper">capital letters</li>
                    <li class="password-rules" id="passwordRuleSpecial">special characters</li>
                </ul>
                <label for="password">Password
                </label>
                <div class="forgotPassword-container">
                    <input type="password" id="password" autocomplete="off">
                    <span class="password-show">
                        <%- include('../partials/icons/index_account_passwordShow.svg') -%>
                    </span>
                </div>
                <div class="password-strength" id="passwordStrength">
                    <div></div>
                    <div></div>
                    <div></div>
                    <div class="password-strength-text">none</div>
                </div>


            </div>
            <div class="input-field">
                <label for="confirmPassword">Confirm password
                </label>
                <div class="forgotPassword-container">
                    <input type="password" id="confirmPassword" autocomplete="off">
                    <span class="password-show">
                        <%- include('../partials/icons/index_account_passwordShow.svg') -%>
                    </span>
                </div>
                <div class="confirm-password-check" id="confirmPasswordCheck">no match
                </div>

            </div>
            <div class="notification-field" id="submitNotification"></div>
            <div class="btn-field">
                <button id="submitForgotPassword">Submit</button>
            </div>

        </div>
    </div>

</div>

<script defer src="/javascripts/user-auth/resetPassword.bundle.js"></script>