svg {
    width: 100%;
    height: 100%;
}

.explore-main-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background: rgba(var(--rgba-dark-color), 1);
}



.open-main-search-btn {
    width: 100%;
    margin: 0px 0 0 0;
    padding: 2px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    font-weight: 700;
    border: 1px solid rgba(var(--rgba-fourth-color), 0.6);
    border-radius: 0 0 8px 8px;
    color: rgba(var(--rgba-fourth-color), 0.8);
    cursor: pointer;
}

.open-main-search-btn svg {
    padding: 4px;
    width: 30px;
    height: 30px;
    margin: 0 0 0 5px;
    fill: rgba(var(--rgba-fourth-color), 0.8);
}


/* inner modal  */
.inner-modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--rgba-fourth-color), 0.8);
}

.inner-modal--hide {
    display: none;
}

.inner-modal-content {
    position: relative;
    height: auto;
    max-width: 98%;
    padding: 10px 10px;
    /* max-height: 80%; */
    border-radius: 12px;
    background: rgba(var(--rgba-first-color), 1);
    animation: innerModalContentAnimation 0.5s ease both;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.inner-modal-content::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}


@keyframes innerModalContentAnimation {
    0% {
        transform: scale(0);
        transform-origin: center bottom;
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}



.inner-modal__close-btn {
    font-size: 21px;
    font-weight: 800;
    padding: 4px 11px;
    margin: 2px 0 3px 0;
    border-radius: 50%;
    border: 3px solid rgba(var(--rgba-third-color), 1);
    background: rgba(var(--rgba-first-color), 1);
    color: rgba(var(--rgba-fourth-color), 1);
}




.inner-modal-content__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.inner-modal-content__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}