<div class="feature">
    <div class="feature__title">
        <span class="feature__title-text">
            <%= title %>
        </span>
        <span class="feature__title-icon">
            <%- include('../../../partials/icons/index/expandIcon.svg') _%>
        </span>
    </div>
    <div class="feature__description ">
        <%= description %>
    </div>
</div>