<link rel="stylesheet" href="/stylesheets/index/home.css">


<script src="/javascripts/home.bundle.js" defer></script>


<div class="home-main-container" id="homeMainContainer">
  <div class="home-header" id="homeHeader">
    <div class="home-header__main-menu-icon main-menu-icon" id="mainMenuBtn">
      <%- include('../partials/icons/mainMenu.svg') -%>
    </div>
    <div class="main-logo main-logo--header" id="mainLogo">
      <div class="main-logo__icon">
        <%- include('../partials/icons/main-logo/mainOwlfeetLogoIconLightColor.svg') _%>
      </div>
      <div class="main-logo__title">
        <%# include('../partials/icons/main-logo/mainOwlfeetLogoTitle.svg') _%>
          owlfeet
      </div>

    </div>
    <div class="home-header__user-notification-icon user-notification-icon" id="userNotificationOpenBtn">
      <%- include('../partials/icons/userNotification.svg') -%>

    </div>


  </div>

  <div class="user-notification-modal hide" id="userNotificationModal">
    <span class="user-notification-modal__close-btn" id="userNotificationModalCloseBtn">X</span>

    <div class="user-notification-modal-content user-notification-modal__content" id="userNotificationModalContent">

      <div class="user-notification-content__title">Notification</div>

      <div class="user-notification-container" id="userNotificationContainer">
      </div>

      <div class="user-notification-status hide" id="userNotificationStatus">
        There is no notification.
      </div>
      <a href="/user-notification" class="user-notification-content__see-all-notification">See all notification >></a>

    </div>
  </div>
</div>