.user-box {
    width: 100%;
    border: 1px solid rgba(var(--rgba-light-color), 0.1);
    /* border-bottom: 1px solid rgba(var(--rgba-light-color), 0.1); */
    border-radius: 10px;
    margin: 3px 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    padding: 6px 8px;
    text-decoration: none;
    color: rgba(var(--rgba-light-color), 1);
    /* background-color: rgba(var(--rgba-light-color), 0.1); */
}

.user-box__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.user-box__row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}



.user-box__column--left-margin {
    margin-left: 10px;
}



.user-box__link {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-box__pic {
    width: 35px;
    height: 35px;
    background: rgba(var(--rgba-fourth-color), 0.2);
    border-radius: 50%;
    overflow: hidden;
}

.user-box__pic svg {
    /* padding: 4px; */
    fill: rgba(var(--rgba-first-color), 1);
    display: none;
}

.user-box__pic--svg svg {
    padding: 7px;
    fill: rgba(var(--rgba-light-color), 0.4);
    display: inline-block;

}

.user-box__pic img {
    width: 100%;
    height: 100%;
    background-size: cover;
    scale: 1.1;
    border-radius: 50%;
    display: none;
}

.user-box__pic--img img {
    display: inline-block;
}

.user-box__username {
    font-size: 16px;
    font-weight: 700;
    line-height: 18px;
    color: rgba(var(--rgba-light-color), 1);
}

.user-box__full-name {
    font-size: 15px;
    font-weight: 500;
    color: rgba(var(--rgba-light-color), 0.4);
}

.user-box__btns {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-self: flex-end;
    position: absolute;
    right: 5px;
    bottom: 50%;
    transform: translate(0, 50%);
}


.user-box__btn {
    background: rgba(var(--rgba-light-color), 0.8);
    color: rgba(var(--rgba-dark-color), 0.8);
    border: 1px solid rgba(var(--rgba-dark-color), 0.1);
    padding: 5px 8px;
    border-radius: 6px;
    outline: none;
    font-size: 14px;
    font-weight: 600;
    margin: 0 2px;
}

.user-box__btn--send-follow-request {    background: rgba(var(--rgba-third-color),1);
    color: rgba(var(--rgba-dark-color),0.8);}

.user-box__btn--cancel-sent-follow-request {    background: rgba(var(--rgba-third-color),0.5);
    color: rgba(var(--rgba-dark-color),0.8);}

.user-box__btn--unfollow {       background: rgba(var(--rgba-light-color),0.8);
    color: rgba(var(--rgba-dark-color),0.8);}

.user-box__btn--remove-follower {       background: rgba(var(--rgba-light-color),0.8);
    color: rgba(var(--rgba-dark-color),0.8);}

.user-box__btn--accept-received-follow-request {    background: rgba(var(--rgba-third-color),1);
    color: rgba(var(--rgba-dark-color),0.8);}

.user-box__btn--delete-received-follow-request {}

.user-box__btn--action {
    background-color: var(--second-color);
    color: var(--light-color);
}