#UserfeedbackReportBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;


}

#userFeedbackReportTitle {
    font-size: 17px;
    border-bottom: 2px solid var(--light-color);
    color: var(--light-color);
}

select#userFeedbackReportType {
    width: 100%;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding: 10px 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--dark-color);
    background-color: var(--light-color);
}

/* select#userFeedbackReportType option {} */

textarea#userFeedbackReportValue {
    width: 100%;
    height: 150px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 400;
    letter-spacing: 0.2px;
    padding: 10px 5px;
    border: none;
    outline: none;
    border-radius: 5px;
    color: var(--dark-color);
    background-color: var(--light-color);
}

::placeholder {
    color: var(--dark-color);
    opacity: 0.3;
}

:-ms-input-placeholder {
    color: var(--dark-color);
    opacity: 0.3;
}

::-ms-input-placeholder {
    color: var(--dark-color);
    opacity: 0.3;
}

div#userFeedBackReportBtns {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div#userFeedBackReportBtns button.btn {
    background-color: var(--light-color);
    padding: 5px 8px;
    color: #413F42;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 6px;
}

div#userFeedBackReportBtns button#userFeedbackReport {
    background-color: var(--second-color);

}