#changePasswordBox {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 12px;


}

#changePasswordBox span {

    color: var(--light-color);
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    border-bottom: 1px solid var(--light-color);
    margin-bottom: 10px;
}

#changePasswordBox input {
    width: 100%;
    padding: 10px 10px;
    font-size: 14px;
    font-weight: 500;
    margin-top: 13px;
    outline: none;
    border: 1px solid #413F42;
    border-radius: 5px;
}

label#showPasswordContainer {
    width: 100%;
    margin-left: 12px;
}

input#showPassword {
    width: 17px;
    height: 17px;
}

label#showPasswordContainer span {
    font-size: 14px;
    border: none;
    color: var(--second-color);
}



div.change-password-btns {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button.btn {
    background-color: var(--light-color);
    padding: 5px 8px;
    color: #413F42;
    border: none;
    outline: none;
    font-size: 16px;
    font-weight: 700;
    border-radius: 6px;
}

button#changePassword {
    background-color: var(--second-color);

}
a#profileResetPassword{
    text-decoration: none;
    margin-top: 10px;
    color: var(--third-color);
    font-size: 16px;
    border-bottom: 1px solid;
}