<title>
    <%= locals.errorTitle -%>
</title>
<link rel="stylesheet" href="/stylesheets/error/notFound.css">

<div class="main-error-container">
    <div class="error-box">
        <div class="error-box__tag">Oops!</div>
        <div class="error-box__main-illus">
            <%- include('../partials/illustrations/notFound.svg') _%>
        </div>

        <div class="error-box__title">
            <%= locals.errorTitle _%>
        </div>
        <div class="error-box__message">
            <%= locals.errorMessage _%>
        </div>
        <button class="error-box__btn">
            <a href="/">Back to Home</a>
        </button>
    </div>

</div>