@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');


svg {
    width: 100%;
    height: 100%;

}

svg #svgBalloonPart {
    animation: svgBalloonParts 2s infinite both alternate linear;
    transform-origin: 50% 50%;
}

@keyframes svgBalloonParts {
    0% {
        transform: translate(0);

    }

    100% {

        transform: translateY(20px);
    }

}

svg #svgBalloonPart #balloonParts path {
    animation: balloonParts 15s infinite both alternate linear;

}

@keyframes balloonParts {
    0% {
        fill: rgb(248, 9, 9);
    }

    10% {
        fill: rgb(255, 145, 0);
    }

    20% {
        fill: rgb(255, 251, 0);
    }

    30% {

        fill: rgb(1, 255, 1);
    }

    40% {

        fill: rgb(3, 247, 174);
    }

    50% {

        fill: rgb(0, 80, 252);
    }

    60% {

        fill: rgb(119, 0, 255);
    }

    70% {

        fill: rgb(171, 3, 248);
    }

    80% {

        fill: rgb(255, 1, 170);
    }

    90% {

        fill: rgb(255, 0, 43);
    }

    100% {

        fill: rgb(255, 0, 0);
    }

}


svg #svgErrorBoardPart {
    animation: svgErrorBoardPart 2s infinite ease-in alternate;
    transform-origin: 50% 100%;
}

@keyframes svgErrorBoardPart {
    0% {
        transform: translate(-10px, 0) rotateY(10deg);

    }

    100% {
        transform: translate(15px, 0) rotateY(0deg);
    }
}

svg #svgLightningPart {
    animation: svgLightningPart 2s infinite ease-in alternate;
    transform-origin: 50% 50%;
}

@keyframes svgLightningPart {
    0% {
        transform: scale(1);

    }

    100% {
        transform: scale(1.1)
    }
}

svg #svgErrorBoardPart #errorCodeMessage path {
    animation: errorCodeMessage 2s infinite ease-in alternate;
    transform-origin: 50% 50%;
    transform-box: fill-box;
}

svg #svgErrorBoardPart #errorCodeMessage path:nth-child(2n) {
    animation-delay: 1s;
}

@keyframes errorCodeMessage {
    0% {
        transform: translateY(-10px)
    }

    100% {
        transform: translateY(5px);
    }
}


svg #demonRightHand {
    animation: demonRightHand 2s infinite both alternate linear;
    transform-origin: 50% 50%;
}

@keyframes demonRightHand {
    0% {
        transform: translate(0);

    }

    100% {

        transform: translateY(10px);
    }

}

svg #demonLeftHand {
    animation: demonLeftHand 2s infinite both alternate linear;
    transform-origin: 50% 0%;
    transform-box: fill-box;
}

@keyframes demonLeftHand {
    0% {
        transform: translate(0);

    }

    100% {

        transform: rotate(10deg);
    }

}


/* ////////////////////////////////////////////////////////////// */

.main-error-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: rgba(var(--rgba-dark-color), 1);

    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.main-error-container::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;

}

.error-box {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--rgba-dark-color), 1);

}



@media screen and (min-width: 800px) {
    .error-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 799px) {
    .error-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

.error-box__main-illus {
    display: flex;
    justify-content: center;
    align-items: center;

}

.error-box__main-illus svg {}

@media screen and (min-width: 800px) {
    .error-box__main-illus {
        width: 48%;
        max-width: 250px;
        height: 275px;
    }

    .error-box__main-illus svg {}

}

@media screen and (max-width: 799px) {
    .error-box__main-illus {
        width: 100%;
        max-width: 250px;
        height: 275px;
    }

    .error-box__main-illus svg {}

}

.error-box__tag {
    display: inline-block;
    font-family: 'Dancing Script', cursive;
    color: rgba(var(--rgba-light-color), 0.6);
}

@media screen and (min-width: 800px) {
    .error-box__tag {
        font-size: 70px;
        font-weight: 800;
        transform: rotate(334deg);
        position: absolute;
        top: 40px;
        left: 20px;
    }
}

@media screen and (max-width: 799px) {
    .error-box__tag {
        font-size: 50px;
        font-weight: 800;
        transform: rotate(355deg);
        position: relative;
        /* left: 20px; */
    }
}

.error-box__title {
    text-align: center;
    color: rgba(var(--rgba-third-color), 0.8);
}



@media screen and (min-width: 800px) {
    .error-box__title {
        font-size: 30px;
        font-weight: 900;
        padding: 0px 5px;
    }
}

@media screen and (max-width: 799px) {
    .error-box__title {
        font-size: 25px;
        font-weight: 900;
        padding: 0px 5px;
    }
}

.error-box__message {
    text-align: center;
    color: rgba(var(--rgba-third-color), 0.4);

}

@media screen and (min-width: 800px) {
    .error-box__message {
        font-size: 20px;
        font-weight: 800;
        padding: 0px 5px;
    }
}

@media screen and (max-width: 799px) {
    .error-box__message {
        font-size: 16px;
        font-weight: 800;
        padding: 0px 5px;
    }
}

.error-box__btn {
    margin: 10px 0 10px 0;
    padding: 6px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(var(--rgba-light-color), 0.1);
    border-radius: 10px;
    color: rgba(var(--rgba-dark-color), 0.9);
    background: rgba(var(--rgba-third-color), 0.8);
    transition: all 0.5s;
    cursor: pointer;
}

.error-box__btn a {
    font-family: 'Nunito', Helvetica, Arial, sans-serif;

    color: rgba(var(--rgba-dark-color), 0.9);
    text-align: center;
    text-decoration: none;
}

@media screen and (min-width: 800px) {
    .error-box__btn {
        font-size: 18px;
        font-weight: 800;
    }
}

@media screen and (max-width: 799px) {
    .error-box__btn {
        font-size: 16px;
        font-weight: 800;
    }
}

.error-box__btn:hover {
    background: rgba(var(--rgba-dark-color), 1);
}

.error-box__btn:hover a {
    color: rgba(var(--rgba-third-color), 0.6);

}