.main-nav-container {
  /* notification rgba color  */
  /* main notification color  */
  --main-notification-info-color: rgb(25, 60, 71);
  --main-notification-info-text-color: rgb(238, 249, 253);

  --main-notification-error-color: rgb(230, 167, 0);
  --main-notification-error-text-color: rgb(31, 22, 0);

  --main-notification-success-color: rgb(0, 148, 0);
  --main-notification-success-text-color: rgb(1, 24, 1);
  /* rgba  */
  --rgba-main-notification-info-color: 25, 60, 71;
  --rgba-main-notification-info-text-color: 238, 249, 253;

  --rgba-main-notification-error-color: 230, 167, 0;
  --rgba-main-notification-error-text-color: 31, 22, 0;

  --rgba-main-notification-success-color: 0, 148, 0;
  --rgba-main-notification-success-text-color: 1, 24, 1;
}

.main-nav-container {
  position: fixed;
  z-index: 100;
}

.main-nav-container ::selection {
  /* color: transparent; */
  background-color: transparent;
}

@media screen and (min-width: 800px) {
  .main-nav-container {
    left: 0;
    top: 0;
    height: 100%;
    width: var(--main-nav-width);
    border-right: 1px solid rgba(var(--rgba-first-color), 0.1);
    padding: 0 2px 0 0;
  }
}

@media screen and (max-width: 800px) {
  .main-nav-container {
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: var(--main-nav-height);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--light-color);
    border-top: 1px solid rgba(var(--rgba-dark-color), 0.2);
  }
}

.main-nav {}

@media screen and (min-width: 800px) {
  .main-nav {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}

@media screen and (max-width: 800px) {
  .main-nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }
}

.main-nav-option {
  list-style: none;
  cursor: pointer;
}

@media screen and (min-width: 800px) {
  .main-nav-option {
    display: inline-block;
  }
}

@media screen and (max-width: 800px) {
  .main-nav-option {
    display: inline-block;
  }
}

.main-nav-option--active {}

@media screen and (min-width: 800px) {
  .main-nav-option--active {}
}

@media screen and (max-width: 800px) {
  .main-nav-option--active {}
}

.main-nav-option__link {
  text-decoration: none;
}

.main-nav-option--active .main-nav-option__link {}

@media screen and (min-width: 800px) {
  .main-nav-option__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }
}

@media screen and (max-width: 800px) {
  .main-nav-option__link {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
  }
}

.main-nav-option__icon {}

.main-nav-option__icon svg {
  fill: rgba(var(--rgba-first-color), 1);
}

.main-nav-option--active .main-nav-option__icon svg {}

@media screen and (min-width: 800px) {
  .main-nav-option__icon {
    width: 26px;
    height: 26px;
  }

  .main-nav-option__icon svg {
    fill: rgba(var(--rgba-first-color), 1);
  }

  .main-nav-option--active .main-nav-option__icon svg {
    fill: rgba(var(--rgba-third-color), 1);
  }
}

@media screen and (max-width: 800px) {
  .main-nav-option__icon {
    width: 26px;
    height: 26px;
  }

  .main-nav-option__icon svg {
    fill: rgba(var(--rgba-first-color), 1);
  }

  .main-nav-option--active .main-nav-option__icon svg {
    fill: rgba(var(--rgba-third-color), 1);
  }
}


.main-nav-option__text {
  /* display: none; */
}

.main-nav-option--active .main-nav-option__text {}

@media screen and (min-width: 800px) {
  .main-nav-option__text {
    display: inline-block;
    font-size: 12px;
    font-weight: 800;
    padding: 0px 5px;
    border-radius: 10px;
    color: rgba(var(--rgba-third-color), 1);
    background: rgba(var(--rgba-first-color), 1);
    margin: 2px 0 0 0;
  }

  .main-nav-option--active .main-nav-option__text {
    display: inline-block;
    color: rgba(var(--rgba-third-color), 1);
  }
}

@media screen and (max-width: 800px) {
  .main-nav-option__text {
    display: inline-block;
    font-size: 12px;
    font-weight: 800;
    padding: 0px 5px;
    border-radius: 10px;
    color: rgba(var(--rgba-third-color), 1);
    background: rgba(var(--rgba-first-color), 1);
    margin: 2px 0 0 0;
  }

  .main-nav-option--active .main-nav-option__text {
    display: inline-block;
    color: rgba(var(--rgba-third-color), 1);
  }
}