nav.main-navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  max-width: var(--main-container-max-width);
  height: var(--main-nav-height);
  background: var(--light-color);
  display: flex;
  justify-content: center;
  align-items: center;
  /* border-top-left-radius: 10px; */
  /* border-top-right-radius: 10px; */
  z-index: 100;
  border-top: 1px solid rgba(var(--rgba-dark-color),0.2);
  cursor: pointer;
}

.main-navigation ul {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.main-navigation ul li.main-navigation-option {
  list-style: none;
  position: relative;
  /* 100/5=20% */
  width: 20%;
  height: 100%;
  z-index: 2;
  }

.main-navigation ul li.main-navigation-option a.main-navigation-option-link {

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height:100%;
  text-decoration: none;

}
ul li.main-navigation-option a.main-navigation-option-link .main-navigation-option-icon{
  width: 75%;
  max-width: 25px;
  position:  absolute;
  top: 50%;
  transform: translate(0, -50%);
}
ul li.main-navigation-option a.main-navigation-option-link .main-navigation-option-icon svg{
  width: 100%;
  fill:var(--first-color);
}
ul li.main-navigation-option a.main-navigation-option-link .main-navigation-option-text{
  display: none;
  position: absolute;
  bottom: 0px;
  background-color: var(--first-color);
  color: var(--third-color);
  /* width: 100%; */
  padding: 1px 5px;
  font-size: 12px;
  text-align: center;
  border-radius: 10px;
}

ul li.main-navigation-option.active a.main-navigation-option-link .main-navigation-option-icon{
  top: 37%;
}
ul li.main-navigation-option.active a.main-navigation-option-link .main-navigation-option-icon svg{
  fill: var(--third-color)
}
ul li.main-navigation-option.active a.main-navigation-option-link .main-navigation-option-text{
  display: block;
}

