<link rel="stylesheet" href="/stylesheets/explore/explore.css">


<script src="/javascripts/explore.bundle.js" defer></script>


<div class="explore-main-container" id="exploreMainContainer">





    <div class="open-main-search-btn" id="openMainSearchBtn">
        Search
        <%- include('../partials/icons/exploreSearchIcon.svg') -%>
    </div>



</div>