.chat-main-container {
    position: relative;
    width: 100%;
    max-width: var(--main-container-max-width);
    height: calc(100% - var(--main-nav-height));
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.chat-main-container::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

svg {
    width: 100%;
    height: 100%;
}

/* all chat section  */
.all-chat-section {
    width: 100%;
    height: 100%;
    background-image: url('../../assets/images/allChatBackground.jpg');
    background-size: cover;
    background-attachment: fixed;
    /* background-color: rgba(var(--rgba-fourth-color), 1); */
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    animation: allChatSectionAnimation 0.25s ease-out both;
}

@keyframes allChatSectionAnimation {
    0% {
        margin-left: 100%;
    }

    100% {
        margin-left: 0;
    }

}

.all-chat-section::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.all-chat-section--hide {
    display: none;
}

/* .all-chat-section__header {} */
.all-chat-header {
    width: 100%;
    height: 72px;
    background-color: rgba(var(--rgba-first-color), 1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color:
        var(--fourth-color);
    border-bottom: 3px solid var(--third-color);
    border-radius: 0 0 10px 10px;
}

.all-chat-header__title {
    font-size: 30px;
    font-weight: 800;
    margin-left: 15px;
}

.all-chat-header__btn-container {
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.all-chat-header__btn {
    width: 30px;
    height: 30px;
}

/* .all-chat-header__btn svg {} */

.all-chat-chat-box-container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* chat box style  */

.chat-box {
    --chat-box-image-section-dimention: 60px;
    --chat-box-unseen-message-count-width: 34px;
}

.chat-box {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 96%;
    border: 2px solid rgba(var(--rgba-first-color), 0.1);
    border-radius: 15px;
    margin-top: 10px;
    background-color: var(--fourth-color);
    color: var(--first-color);
    overflow: hidden;
    padding: 2px 2px;
}

.chat-box__column {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.chat-box__column--img {
    align-self: center;

}

.chat-box__column--data {
    width: calc(100% - var(--chat-box-image-section-dimention));
    padding: 0 0 0 5px;
    /* border: 1px solid green; */
}



.chat-box__row {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
}

.chat-box__pic {
    width: var(--chat-box-image-section-dimention);
    height: var(--chat-box-image-section-dimention);
    border: 1px solid rgba(var(--rgba-first-color), 0.1);
    border-radius: 50%;
    margin: 0px 0 0 0px;
}


.chat-box__pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    padding: 2px;
    display: inline-block;
}

.chat-box__pic--hide-img img {
    display: none;
}



.chat-box__pic svg {
    fill: rgba(var(--rgba-first-color), 0.2);
    stroke: rgba(var(--rgba-fourth-color), 1);
    stroke-width: 1;
    display: inline-block;
    border-radius: 50%;
}

.chat-box__pic--hide-svg svg {
    display: none;
}

.chat-box__icon {
    width: 21px;
    height: 21px;
    margin: 0 4px 0 0;
}

.chat-box__icon svg {

    fill: rgba(var(--rgba-first-color), 0.4);
    stroke: rgba(var(--rgba-third-color), 1);
}

.chat-box__name {
    font-size: 19px;
    font-weight: 800;
    margin: 0px 0 0 0px;
    white-space: nowrap;
}

.chat-box__unseen-message-count {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 2px 6px;
    border-radius: 11px;
    font-size: 15px;
    font-weight: 800;
    background-color: var(--first-color);
    color: var(--third-color);
    /* border: 1px solid rgba(var(--rgba-first-color),0.2); */
}



.chat-box__latest-message-box {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 0 0px 0 0;
    width: calc(100% - var(--chat-box-unseen-message-count-width));
    overflow: hidden;
}

.chat-box__sender {
    font-size: 16px;
    font-weight: 700;
    margin: 0 0 0 0;
    opacity: 0.9;
    display: inline-block;
}

.chat-box__latest-message {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    font-weight: 600;
    padding: 0 0px 0 4px;
    width: 100%;
    opacity: 0.8;
    display: inline-block;
}

.chat-box__latest-message svg {
    width: 16px;
    height: 16px;
    margin-right: 0px;
    transform: translate(2px, 2px);
    fill: rgba(var(--rgba-first-color), 0.7);
}


.chat-box__latest-message-time {
    position: absolute;
    font-size: 14px;
    font-weight: 500;
    right: 7px;
    top: 5px;
    opacity: 0.5;
    color: var(--first-color);
}

/* active-chat-section style */
.active-chat-section {
    --active-chat-input-container-height: 46px;
    --active-chat-header-height: 63px;
}

.active-chat-section {
    width: 100%;
    height: 100%;

    background-color: var(--fourth-color);
    /* display: flex; */
    /* flex-direction: column; */
    /* justify-content: flex-start; */
    /* align-items: flex-start; */


}



.active-chat-section--hide {
    display: none;
}

svg {
    width: 100%;
    height: 100%;
}

.active-chat-header {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 1;
    width: 100%;
    max-width: var(--main-container-max-width);
    height: var(--active-chat-header-height);
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    background-color: var(--first-color);
    color: var(--fourth-color);
    border-radius: 0 0 5px 5px;
}

.active-chat-header__column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
    overflow: hidden;
}

.active-chat-header__column--user-data {
    margin: 0px 0 0 5px;
}

/* .active-chat-header__row {} */
.active-chat-header__left-btn-container {
    margin: 0 10px 0 5px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.active-chat-header__btn {
    width: 21px;
    height: 100%;
    margin: 0px 0px 0 0px;
}

.active-chat-header__btn svg {
    fill: var(--third-color);
    /* stroke: var(--third-color); */
}

.active-chat-header__pic {
    margin: 0px 0 0 0;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.active-chat-header__pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: inline-block;
}

.active-chat-header__pic--hide-img img {
    display: none;
}

.active-chat-header__pic svg {
    fill: rgba(var(--rgba-fourth-color), 0.2);
    stroke: rgba(var(--rgba-first-color), 1);
    stroke-width: 1;
    border-radius: 50%;
    display: inline-block;
}

.active-chat-header__pic--hide-svg svg {
    display: none;
}

.active-chat-header__title {
    font-size: 17px;
    font-weight: 800;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
    white-space: nowrap;
    /* border: 1px solid; */
}

.active-chat-header__chat-status {
    font-size: 16px;
    font-weight: 500;
    opacity: 0.6;
    white-space: nowrap;
}

.active-chat-header__right-btn-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 80px;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    /* border: 1px solid; */
}

/* active chat message container  */
.active-chat-message-container {
    padding: var(--active-chat-header-height) 0 60px 0;
    background-image: url('../../assets/images/activeChatBackground.jpg');
    background-size: cover;
    background-attachment: fixed;
    /* background-color: var(--fourth-color); */
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.active-chat-message-container::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.active-chat-message-date-box {
    width: 100%;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
}

/* active chat message box  */
.active-chat-user-message-box {
    --plyr-color-main:
        var(--second-color);
    --plyr-video-control-color:
        var(--fourth-color);
    --plyr-video-control-color-hover:
        var(--third-color);
    --plyr-control-icon-size: 16px;
    --plyr-control-spacing: 8px;
    --plyr-audio-controls-background:
        var(--second-color);
    --plyr-audio-control-color:
        rgba(var(--rgba-first-color), 0.7);
    --plyr-audio-control-color-hover:
        rgba(var(--rgba-third-color), 1);
    --plyr-audio-control-background-hover:
        var(--fourth-color);
    --plyr-range-thumb-height: 13px;
    --plyr-range-thumb-background:
        rgba(var(--rgba-third-color), 1);
    --plyr-range-track-height: 4px;
    --plyr-range-fill-background:
        var(--third-color);
}

.active-chat-user-message-box--right {
    --plyr-color-main: rgba(var(--rgba-first-color), 1);
    --plyr-audio-controls-background: rgba(var(--rgba-first-color), 1);
    --plyr-audio-control-color: rgba(var(--rgba-fourth-color), 0.7);
}

.active-chat-user-message-box {
    display: flex;
    padding: 0 0 0 7px;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    width: 100%;
    animation: activeChatMessageBoxAnimation 0.2s ease-in both;
    /* background:
        rgba(var(--rgba-first-color), 1); */
}

@keyframes activeChatMessageBoxAnimation {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }

}

.active-chat-user-message-box--selected {
    background-color: rgba(var(--rgba-fourth-color), 0.8);
    border-radius: 5px;
    filter: invert(1);
}

.active-chat-user-message-box--right {
    flex-direction: row-reverse;
    padding: 0 7px 0 0;
}

.active-chat-user-message-box__content-box {
    position: relative;
    display: inline-block;
    max-width: 85%;
}

.active-chat-user-message-box__content {}



.active-chat-user-message-box--video {
    margin: 5px 0 0 0;
}

.active-chat-user-message-box__content-box--video {
    width: 85%;
    border-radius: 14px;
    overflow: hidden;
    margin: 10px 0;
}

.active-chat-user-message-box__content--video {}

.active-chat-user-message-box--audio {
    margin: 5px 0 0 0;
}

.active-chat-user-message-box__content-box--audio {
    width: 85%;
    border-radius: 14px;
    margin: 10px 0;
}

.active-chat-user-message-box__content-box--audio div {
    border-radius: 14px;
}

/* .active-chat-message-box__audio-content {} */

.active-chat-user-message-box--youtube {
    margin: 5px 0 0 0;
}

.active-chat-user-message-box__content-box--youtube {
    width: 85%;
    border-radius: 14px;
    overflow: hidden;
    margin: 10px 0;
}

.active-chat-user-message-box__content--youtube {}

.active-chat-user-message-box--image {
    margin: 8px 0 0 0;
}


.active-chat-user-message-box__content-box--image {
    height: auto;
    width: 85%;
}

.active-chat-user-message-box__content--image {
    width: 100%;
    /* height: 100%; */
    border-radius: 10px;
    /* background-size: cover; */
}




.active-chat-user-message-box--text {
    margin: 4px 0 0 0;
}

.active-chat-user-message-box__content-box--text {
    padding: 5px 8px 3px 8px;
    border-radius: 15px 15px 15px 0px;
    background: rgba(var(--rgba-second-color), 1);
    color: rgba(var(--rgba-first-color), 0.7);
    width: auto;
}

.active-chat-user-message-box--right .active-chat-user-message-box__content-box--text {
    background: rgba(var(--rgba-first-color), 1);
    color: rgba(var(--rgba-fourth-color), 0.7);
}

.active-chat-user-message-box__content--text {
    display: inline-block;
    font-size: 17px;
    font-weight: 700;
}





.active-chat-user-message-box__content-info {
    display: inline-block;
    color: rgba(var(--rgba-first-color), 0.4);
}

.active-chat-user-message-box--right .active-chat-user-message-box__content-info {
    color: rgba(var(--rgba-fourth-color), 0.4);
}


.active-chat-user-message-box__content-info--video {
    position: absolute;
    top: 0;
    right: 0px;
    border-radius: 10px;
    padding: 0px 6px;
    background: rgba(var(--rgba-first-color), 0.4);
    color: rgba(var(--rgba-fourth-color), 1);
}

.active-chat-user-message-box__content-info--audio {
    position: absolute;
    bottom: -2px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 11px;
    padding: 0px 6px;
    /* background: rgba(var(--rgba-first-color), 0.4); */
}

.active-chat-user-message-box__content-info--youtube {
    position: absolute;
    top: 0;
    right: 0px;
    border-radius: 11px;
    padding: 0px 6px;
    background: rgba(var(--rgba-first-color), 0.4);
    color: rgba(var(--rgba-fourth-color), 1);
}

.active-chat-user-message-box__content-info--image {
    position: absolute;
    bottom: 6px;
    right: 0px;
    border-radius: 10px;
    padding: 0px 6px;
    background: rgba(var(--rgba-first-color), 0.4);
    color: rgba(var(--rgba-fourth-color), 1);
}

.active-chat-user-message-box__content-info--text {
    position: relative;
    bottom: -4px;
    right: 0px;
    float: right;
    background: transparent;
    color: rgba(var(--rgba-first-color), 0.4);
    padding: 0 0;
    margin-left: 10px;
}






.active-chat-user-message-box__content-time {
    display: inline-block;
    font-size: 11px;
    font-weight: 800;
}


.active-chat-user-message-box__content-status-container {
    display: inline-block;
}

.active-chat-user-message-box__content-status {
    width: 12px;
    height: 12px;
    transform: rotate(-3deg) translate(0px, 2px);
    display: inline-block;
}

.active-chat-user-message-box__content-status svg {
    fill: rgba(var(--rgba-fourth-color), 0.5);
    stroke-width: 1px;
    stroke: rgba(var(--rgba-fourth-color), 0.5);
}



.active-chat-user-message-box__content-status--second {
    margin-left: -7px;
    transform: rotate(-5deg) translate(-5px, 2px);
}


.active-chat-user-message-box__btn {
    display: inline-block;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    opacity: 0;
}

.active-chat-user-message-box--right .active-chat-user-message-box__btn {
    margin-left: 0;
    margin-right: 5px;
}

.active-chat-user-message-box__btn:hover {
    opacity: 1;
}

.active-chat-user-message-box:hover .active-chat-user-message-box__btn {
    opacity: 0.8;
}

.active-chat-user-message-box__btn svg {
    fill: rgba(var(--rgba-first-color), 1);
}

/* active-chat-user-message-box--deleted-message */
.active-chat-user-message-box--deleted-message {
    margin: 4px 0 0 0;
}

.active-chat-user-message-box__content-box--deleted-message {
    padding: 5px 8px 3px 8px;
    border-radius: 15px 15px 15px 0px;
    background: rgba(var(--rgba-second-color), 1);
    color: rgba(var(--rgba-first-color), 1);
    width: auto;
    opacity: 0.5;
}

.active-chat-user-message-box--right .active-chat-user-message-box__content-box--deleted-message {
    padding: 5px 8px 3px 8px;
    border-radius: 15px 15px 0px 15px;
    background: rgba(var(--rgba-first-color), 1);
    color: rgba(var(--rgba-fourth-color), 0.7);
    width: auto;
}

.active-chat-user-message-box__content--deleted-message {
    font-size: 15px;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    /* opacity: 0.6; */
}



.active-chat-user-message-box__content--deleted-message svg {
    width: 20px;
    height: 20px;
    fill: rgba(var(--rgba-first-color), 0.8);
    margin: 0 6px 0 0;
}

.active-chat-user-message-box--right .active-chat-user-message-box__content--deleted-message svg {
    width: 20px;
    height: 20px;
    fill: rgba(var(--rgba-fourth-color), 0.7);
    margin: 0 6px 0 0;
}

.active-chat-user-message-box__content-info--deleted-message {
    position: relative;
    display: none;
    bottom: -4px;
    right: 0px;
    float: right;
    background: transparent;
    color: rgba(var(--rgba-first-color), 0.4);
    padding: 0 0;
    margin-left: 10px;
}

.active-chat-user-message-box--right .active-chat-user-message-box__content-info--deleted-message {}

.active-chat-user-message-box__content-time--deleted-message {}

.active-chat-user-message-box--right .active-chat-user-message-box__content-time--deleted-message {}

/* ////////////////////////// */



/* active-chat-info-message-box  */
.active-chat-info-message-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.active-chat-info-message-box__content {
    max-width: 80%;
    text-align: center;
    font-size: 14px;
    font-weight: 600;
    padding: 4px 8px;
    border-radius: 10px;
    background: rgba(var(--rgba-first-color), 0.2);
    color: rgba(var(--rgba-first-color), 1);
}

.active-chat-info-message-box__content svg {
    width: 16px;
    height: 16px;
    margin-right: 1px;
    transform: translate(0px, 3px);
    fill: rgba(var(--rgba-first-color), 0.7);
}

/* active-chat-date-message-box  */
.active-chat-date-message-box {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
}

.active-chat-date-message-box__content {
    max-width: 80%;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    padding: 4px 8px;
    border-radius: 7px;
    background: rgba(var(--rgba-first-color), 0.7);
    color: rgba(var(--rgba-fourth-color), 1);
}



/*/////////////////////////////////////////////// */
/* //////////////////////////////////////////////////// */

/* active-chat-input-container  */
.active-chat-input-container {
    position: fixed;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: var(--main-nav-height);
    z-index: 1;
    width: 100%;
    max-width: var(--main-container-max-width);
    /* height: var(--active-chat-input-container-height); */
    /* border: 1px solid green; */
}

.active-chat-input-container {
    --input-send-btn-width: 35px;
    --input-send-btn-height: 35px;
}

.active-chat-input-container__enable-box {
    display: none;
    width: 100%;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-image: url('../../assets/images/activeChatBackground.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--fourth-color);
    /* border: 1px solid red; */
}

.active-chat-input-container--enable .active-chat-input-container__enable-box {
    display: flex;
}

.active-chat-input-container__disable-box {
    display: none;
    width: 100%;
    background-image: url('../../assets/images/activeChatBackground.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-color: var(--fourth-color);

}

.active-chat-input-container--disable .active-chat-input-container__disable-box {
    display: inline-block;
}

.active-chat-input-disable-title {
    width: 100%;
    padding: 2px 14px;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    border-top: 1px solid rgba(var(--rgba-first-color), 0.4);
    opacity: 0.8;
}



/* .active-chat-input-box  */

.active-chat-input-box {
    width: 100%;
    height: auto;
    position: relative;
    /* border: 1px solid; */

}

.active-chat-input-box--hide {
    display: none;
}


.active-chat-input-box__text {
    display: block;
    width: 100%;
    height: auto;
    max-height: 145px;
    min-height: 40px;
    resize: none;
    border: 1px solid rgba(var(--rgba-first-color), 0.5);
    border-radius: 10px 10px 10px 10px;
    outline: none;
    padding: 7px 0 7px 34px;
    font-size: 18px;
    font-weight: 600;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.active-chat-input-box__text::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}


.active-chat-input-box__emoji-container {
    position: absolute;
    left: 0;
    bottom: 120%;
    width: 100vw;
    height: 315px;
    border-radius: 5px;
    z-index: 1;
    display: block;
}

.active-chat-input-box__emoji-container--hide {
    display: none;

}

em-emoji-picker {
    width: 100%;
    height: 100%;
    overflow: auto;
    /* min-width: 200px; */
    /* min-height: 400px; */
    /* max-height: 800px; */
    /* --border-radius: 24px; */
    /* --category-icon-size: 24px; */
    /* --color-border-over:
    rgba(0, 0, 0, 0.1); */
    /* --color-border:
    rgba(0, 0, 0, 0.05); */
    /* --font-family:
    'Comic Sans MS', 'Chalkboard SE', cursive; */
    /* --font-size: 17px; */
    --rgb-accent:
        var(--rgba-second-color);
    --rgb-background:
        var(--rgba-first-color);
    --rgb-color:
        var(--rgba-third-color);
    /* --rgb-input: 255, 235, 235; */
    --shadow: 5px 5px 15px -8px rgba(var(--rgba-first-color), 0.6), -5px -5px 15px -8px rgba(var(--rgba-first-color), 0.6);
}


.active-chat-input-box__left-btn-container {
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* .active-chat-input-box__right-btn-container {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.active-chat-input-box__right-btn-container--hide {
    display: none;
} */

.active-chat-input-box__btn {
    width: 23px;
    height: 23px;
    margin: 0 7px;
}

.active-chat-input-box__btn svg {
    fill: rgba(var(--rgba-first-color), 0.4);
    stroke: rgba(var(--rgba-first-color), 0.4);

}

/* active-chat-send-box  */
.active-chat-send-box {
    padding: 5px;
    align-self: flex-end;

}

.active-chat-send-box--hide {
    display: none;
}

.active-chat-send-box__btn {
    width: var(--input-send-btn-width);
    height: var(--input-send-btn-height);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: var(--first-color);
}

.active-chat-send-box__btn svg {
    width: 60%;
    height: 60%;
    fill: var(--third-color);
}

.active-chat-send-box__btn--hide {
    display: none;
}

/* .active-chat-input-attachment-box  */
.active-chat-input-attachment-box {
    /* display: none; */
    display: flex;
    align-items: center;
    justify-content: flex-end;
    /* border: 1px solid; */
}

.active-chat-input-attachment-box--selected {
    width: 100%;

}

.active-chat-input-attachment-box--hide {
    display: none;
}

.active-chat-input-attachment-box__btn {
    width: 27px;
    height: 27px;
    position: absolute;
    /* btn width + right padding + left Padding + 10px extra  */
    right: calc(var(--input-send-btn-width) + 5px + 5px + 10px);
    z-index: 1;
    /* display: none; */
}

.active-chat-input-attachment-box__btn--selected {
    right: 0;
    margin-right: 10px;
    position: relative;
}

.active-chat-input-attachment-box__btn svg {
    width: 100%;
    height: 100%;
    fill: rgba(var(--rgba-first-color), 0.4);
}

.input-attachment-btn-container {
    /* display: none; */
    display: flex;
    flex-grow: 1;
    justify-content: space-around;
    align-items: center;
}

.input-attachment-btn-container--hide {
    display: none;
}

.input-attachment-btn-box {}

.input-attachment-btn-box__icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    color: rgba(var(--rgba-first-color), 1);
    font-weight: 800;
    justify-content: flex-start;
}

.input-attachment-btn-box__icon svg {
    width: 30px;
    height: 29px;
    fill: rgba(var(--rgba-first-color), 1);
}

.input-attachment-btn-box__input-box {
    /* display: none; */
    position: absolute;
    bottom: 110%;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    width: 100%;
}

.input-attachment-btn-box__input-box--hide {
    display: none;
}

.input-attachment-btn-box__input {
    flex-grow: 1;
    font-size: 14px;
    font-weight: 600;
    outline: 0;
    border-radius: 5px;
    border: 1px solid rgba(var(--rgba-first-color), 1);
    padding: 5px 5px;
}

.input-attachment-btn-box__send-btn {
    position: absolute;
    right: 0;
    padding: 2px 3px;
    background: rgba(var(--rgba-first-color), 1);
    color: rgba(var(--rgba-third-color), 1);
    border-radius: 5px;
    font-size: 16px;
    font-weight: 600;
    margin: 0 0px 0 5px;
}





/* ////////////////////////////////////////////// */
/* inner modal  */
.inner-modal {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 4;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--rgba-first-color), 0.9);
}

.inner-modal--hide {
    display: none;
}

.inner-modal-content {
    height: auto;
    max-width: 80%;
    max-height: 65%;
    margin: 0 auto;
    margin-top: 88px;
    border-radius: 15px;
    background: rgba(var(--rgba-fourth-color), 1);
    animation: innerModalContentAnimation 0.5s ease both;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.inner-modal-content::-webkit-scrollbar::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}


@keyframes innerModalContentAnimation {
    0% {
        transform: scale(0);
        transform-origin: center bottom;
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}

.inner-modal-header {
    width: 100%;
    padding: 5px 10px;
    display: flex;
    justify-content: space-between;
}

.inner-modal-header__title {
    font-size: 21px;
    font-weight: 800;
    color: rgba(var(--rgba-first-color), 1);
    padding: 0 0 0 5px;
}

.inner-modal-main {
    width: 100%;
    padding: 5px 5px;
}

.inner-modal-main__info {
    font-size: 16px;
    font-weight: 500;
    color: rgba(var(--rgba-first-color), 0.8);
    padding: 0px 5px;
}

.inner-modal-btns-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 5px;
}

.inner-modal-btn {
    font-size: 17px;
    font-weight: 800;
    padding: 7px 17px 7px 17px;
    color: rgba(var(--rgba-third-color), 1);

}

.inner-modal-btn--action {}

/* delete message modal  */
.inner-modal--delete-message {
    background: radial-gradient(rgba(var(--rgba-first-color), 0.7), transparent);
    z-index: 100;
}

.inner-modal-content--delete-message {}

.for-all-input-container {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 20px 6px;
    font-size: 15px;
    font-weight: 800;
    color: rgba(var(--rgba-first-color), 1);
}

.for-all-input-container__checkbox {
    margin-right: 8px;
    width: 20px;
    height: 20px;
    accent-color: rgba(var(--rgba-third-color), 1);

}

.inner-modal--user-message-option {
    background: rgba(var(--rgba-fourth-color), 0.9);
}

.inner-modal-content--user-message-option {
    width: fit-content;
    background: rgba(var(--rgba-first-color), 1);
}

.inner-modal-options-container {
    width: fit-content;
    padding: 5px 25px 5px 14px;
}

.inner-modal-option {
    display: flex;
    justify-content: flex-start;
    font-size: 20px;
    font-weight: 600;
    margin: 12px 0 0 0;
    width: fit-content;
    text-align: center;
    color: rgba(var(--rgba-fourth-color), 1);
}

.inner-modal-option:last-child {
    border-top: 1px solid rgba(var(--rgba-fourth-color), 0.1);
    color: rgba(var(--rgba-third-color), 1);
    font-size: 24px;
    margin-top: 15px;
    width: 100%;
    display: block;
}

.inner-modal-option svg {
    width: 25px;
    height: 25px;
    fill: rgba(var(--rgba-fourth-color), 1);
    stroke: rgba(var(--rgba-fourth-color), 1);
    margin-right: 15px;
}




/* message seen by modal  */
.inner-modal--message-seen-by {
    z-index: 100;
}

.inner-modal-content--message-seen-by {}

.inner-modal-header__message-count {
    font-size: 20px;
    font-weight: 700;
    padding: 2px 4px;
    border-radius: 15px;
    background: rgba(var(--rgba-first-color), 1);
    color: rgba(var(--rgba-fourth-color), 1);
}

.message-seen-user-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.message-seen-user {
    width: 98%;
    display: flex;
    align-items: center;
    margin: 5px 0;
    padding: 2px;
    border: 1px solid rgba(var(--rgba-first-color), 0.2);
    border-radius: 15px;
}

.message-seen-user__pic {
    width: 46px;
    height: 46px;
}

.message-seen-user__pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.message-seen-user__fullname {
    font-size: 20px;
    font-weight: 700;
    padding: 0 0 0 5px;
}