/* active chat info modal  */
/* ///////////////////////////////////// */
svg {
    width: 100%;
    height: 100%;
}

.active-chat-info-modal {}

.active-chat-info-modal--member {}

.active-chat-info-modal--admin {}



.chat-modal-content--chat-info {
    align-self: flex-start;
    border-radius: 0 0 10px 10px;
    width: 100%;
}

.chat-info-header {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 40px;
    background-color: var(--first-color);
    border-radius: 0 0 5px 5px;
    color: var(--fourth-color);
}

.chat-info-header__title {
    font-size: 18px;
    font-weight: 700;
    margin: 0 140px 0 5px;
    white-space: nowrap;
    color: var(--third-color);
}

.chat-info-header__btn-container {
    position: absolute;
    right: 5px;
    /* top: 50%; */
    /* transform: translate(0px, -50%); */
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.chat-info-header__btn {
    width: 23px;
    height: 23px;
    margin: 0 0 0 20px;
}

.chat-info-header__btn--close-modal {
    width: 30px;
    height: 30px;
}

.chat-info-header__btn svg {
    fill: var(--third-color);
}

.chat-info-header__btn--close-modal svg {
    fill: var(--fourth-color);
}

.chat-info-pic {
    width: 105px;
    height: 105px;
    padding: 10px 0 0 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-info-pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: inline-block;
}

.chat-info-pic--hide-img img {
    display: none;
}

.chat-info-pic svg {
    fill: rgba(var(--rgba-fourth-color), 0.2);
    stroke: rgba(var(--rgba-first-color), 1);
    stroke-width: 1;
    border-radius: 50%;
    display: inline-block;
}

.chat-info-pic--hide-svg svg {
    display: none;
}

.chat-info-name {
    width: 100%;
    padding: 10px 0 0 0;
    font-size: 18px;
    font-weight: 700;
    text-align: center;
}

.chat-info-desc {
    width: 100%;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    opacity: 0.6;
    padding: 2px 6px;
}

.chat-info-btn-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0 0 0;
}

.chat-info-btn {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    padding: 9px 5px;
    border-bottom: 1px solid rgba(var(--rgba-third-color), 0.1);

}

.chat-info-btn--member {
    display: none;
}

.active-chat-info-modal--member .chat-info-btn--member {
    display: flex;
}

.chat-info-btn--admin {
    display: none;
}

.active-chat-info-modal--admin .chat-info-btn--admin {
    display: flex;
}

.chat-info-btn svg {
    width: 30px;
    height: 30px;
    fill: var(--third-color);
    margin: 0 10px 0 5px;
    stroke-width: 3;
    stroke: var(--third-color);
}

.chat-info-btn--block-user {
    color: rgba(var(--rgba-third-color), 0.9);
}

.chat-info-btn--block-user svg {
    fill: var(--third-color);

}

.chat-info-member-container {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-top: 1px solid rgba(var(--rgba-first-color), 0.1);
    /* background-color: var(--first-color); */
    /* color: var(--fourth-color); */
}

.chat-info-member-container__title {
    width: 100%;
    font-size: 17px;
    font-weight: 800;
    text-align: left;
    margin: 10px 0 0 7px;
}

.chat-info-member-container__count {
    font-size: 20px;
    margin: 0 5px 0 0;
}

.chat-info-member-modal {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background-color: rgba(var(--rgba-fourth-color), 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.chat-info-member-modal--hide {
    display: none;
}

.chat-info-member-modal-content {
    width: 60%;
    max-width: 300px;
    background-color: rgba(var(--rgba-fourth-color), 1);
    border-radius: 20px;
}

.chat-info-member-modal-content__option {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 17px;
    font-weight: 700;
    padding: 9px 5px;
    border-bottom: 1px solid rgba(var(--rgba-first-color), 0.1);
    color: rgba(var(--rgba-first-color), 1);

}

.chat-info-member-modal-content__option svg {
    width: 30px;
    height: 30px;
    fill: rgba(var(--rgba-first-color), 0.6);
    margin: 0 10px 0 5px;


}

.chat-info-member-modal-content__option--cancel-option {
    justify-content: center;
    font-size: 20px;
    font-weight: 800;
    color: rgba(var(--rgba-third-color), 1);
}

.chat-info-member-modal-content__option--admin-modal {
    display: none;
}

.active-chat-info-modal--admin .chat-info-member-modal-content__option--admin-modal {
    display: flex;
}

.chat-info-member-modal-content__option--member-modal {
    display: none;
}

.active-chat-info-modal--member .chat-info-member-modal-content__option--member-modal {
    display: flex;
}



.chat-info-member {
    position: relative;
    width: 98%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 10px;
    border: 1px solid rgba(var(--rgba-third-color), 0.2);
    border-radius: 14px;
    padding: 2px 5px;
}

.chat-info-member__pic {
    width: 40px;
    height: 40px;
}

.chat-info-member__pic img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.chat-info-member__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 100%;
}

.chat-info-member__row {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    width: auto;
}

.chat-info-member__column--data {
    margin-left: 5px;
}

.chat-info-member__fullname {
    font-size: 16px;
    font-weight: 600;

}

.chat-info-member__admin-tag {
    display: none;
    font-size: 16px;
    font-weight: 600;
    margin-left: 5px;
    color: rgba(var(--rgba-third-color), 0.5);
}

.chat-info-member--admin .chat-info-member__admin-tag {
    display: inline-block;
}

.chat-info-member__username {
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    opacity: 0.6;
}

.chat-info-member__btn {
    position: absolute;
    right: 12px;
    width: 20px;
    height: 20px;
}

.chat-info-member__btn svg {
    fill: var(--third-color);
    stroke: var(--third-color);
}


/* end of Active chat info modal */
/* /////////////////////////////////////// */