svg {
  width: 100%;
  height: 100%;
}

/* @font-face {
  font-family: 'khulaExtraBold';
  src: url('/assets/fonts/khulaExtraBold.ttf') format('truetype');
} */

.home-main-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgba(var(--rgba-dark-color), 1);
}


.home-header {
  width: 100%;
  padding: 10px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(var(--rgba-light-color), 0.1);
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main-logo__icon {
  width: 50px;
  height: 50px;
  transition: all 0.5s;
}

.main-logo__icon svg {
  width: 100%;
  height: 100%;
}

.main-logo__title {
  height: 25px;
  margin: 0 0 0 5px;
}

.main-logo__title svg {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 800px) {
  .main-logo {}

  .main-logo__icon {
    width: 48px;
    height: 50px;
  }

  .main-logo__title {
    display: inline-block;
    /* width: 30px; */
    height: 25px;
  }
}

@media screen and (max-width: 799px) {
  .main-logo {}

  .main-logo__icon {
    width: 25px;
    height: 25px;
  }

  .main-logo__title {
    display: inline-block;
    height: 25px;
  }
}




.main-menu-icon {
  width: 25px;
  height: 25px;
}

.main-menu-icon svg {
  fill: rgba(var(--rgba-light-color), 0.6);
}



.user-notification-icon {
  width: 30px;
  height: 30px;
}

.user-notification-icon svg {
  fill: rgba(var(--rgba-light-color), 0.6);
}


/* user-notification-modal */
.user-notification-modal {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(var(--rgba-fourth-color), 0.8);
}

.user-notification-modal.hide {
  display: none;
}

.user-notification-modal-content {
  position: relative;
  width: 98%;
  max-width: 483px;
  height: auto;
  max-height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 5px 5px;
  border-radius: 12px;
  background: rgba(var(--rgba-dark-color), 1);
  animation: userNotificationModalContentAnimation 1.5s ease both;
  overflow: hidden;
}

@keyframes userNotificationModalContentAnimation {
  0% {
    transform: scale(0);
    transform-origin: center bottom;
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }

}

.user-notification-modal__close-btn {
  /* width: 40px; */
  /* height: 40px; */
  font-size: 21px;
  font-weight: 800;
  text-align: center;
  padding: 4px 11px;
  margin: 2px 0 3px 0;
  border-radius: 50%;
  border: 3px solid rgba(var(--rgba-third-color), 1);
  background: rgba(var(--rgba-first-color), 1);
  color: rgba(var(--rgba-fourth-color), 1);
}

.user-notification-content__row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.user-notification-content__title {
  color: rgba(var(--rgba-light-color), 1);
  text-align: center;
  font-size: 20px;
  font-weight: 800;
  border-bottom: 3px solid rgba(var(--rgba-light-color), 0.6);
  margin: 0px 0 10px 0;
}



.user-notification-container {
  width: 100%;
  height: 100%;
  padding: 5px 5px;
  background: rgba(var(--rgba-first-color),1);
  border: 2px solid rgba(var(--rgba-light-color),0.1);
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.user-notification-container::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}


.user-notification-content__see-all-notification {
  display: inline-block;
  width: 100%;
  font-size: 20px;
  font-weight: 800;
  padding: 10px 10px;
  text-align: center;
  color: rgba(var(--rgba-third-color), 1);
}

/* ///////////////////////////////////// */
.link-preview {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 5px solid rgba(var(--rgba-first-color), 0.7);
  border-radius: 15px 0 0 15px;
  padding: 5px 5px 5px 10px;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(var(--rgba-first-color), 0.6);
}

.link-preview__link {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.link-preview__title {
  font-size: 20px;
  font-weight: 800;
  text-align: left;
  color: rgba(var(--rgba-first-color), 1);
  overflow-wrap: anywhere;
  word-break: break-word;
}

.link-preview__pic {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 0 5px;
}

.link-preview__pic--img {
  padding: 0 5px 0 0;
}

.link-preview__pic--svg {
  border: 1px solid rgba(var(--rgba-first-color), 0.1);
  border-radius: 10px;
}

.link-preview__pic img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.link-preview__pic svg {
  width: 100%;
  max-width: 150px;
  /* height: 100%; */
  padding: 15px;
  fill: rgba(var(--rgba-first-color), 1);
}

.link-preview__desc {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  color: rgba(var(--rgba-first-color), 1);
  overflow-wrap: anywhere;
  word-break: break-word;
}

.link-preview__site {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link-preview__site-name {
  font-size: 14px;
  font-weight: 800;
  text-align: left;
  color: rgba(var(--rgba-first-color), 1);
  overflow-wrap: anywhere;
  word-break: break-word;
  margin: 0 0 0 4px;
}

.link-preview__site-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-preview__site-icon--img {
  width: 25px;
  height: 25px;
}

.link-preview__site-icon--svg {
  width: 20px;
  height: 20px;
}

.link-preview__site-icon img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.link-preview__site-icon svg {
  width: 100%;
  height: 100%;
  fill: rgba(var(--rgba-first-color), 1);
}