svg {
  width: 100%;
  height: 100%;
}

/* @font-face {
  font-family: 'khulaExtraBold';
  src: url('/assets/fonts/khulaExtraBold.ttf') format('truetype');
} */

.home-main-container {
  overflow: hidden;
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  background: rgba(var(--rgba-dark-color), 1);
}


.home-header {
  width: 100%;
  padding: 10px 10px 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid rgba(var(--rgba-light-color), 0.1);
}

.main-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.main-logo__icon {
  width: 50px;
  height: 50px;
  transition: all 0.5s;
}

.main-logo__icon svg {
  width: 100%;
  height: 100%;
}

.main-logo__title {
  height: 25px;
  margin: 0 0 0 5px;
}

.main-logo__title svg {
  width: 100%;
  height: 100%;
}

@media screen and (min-width: 800px) {
  .main-logo {}

  .main-logo__icon {
    width: 48px;
    height: 50px;
}

  .main-logo__title {
    display: inline-block;
    /* width: 30px; */
    height: 25px;
}
}

@media screen and (max-width: 799px) {
  .main-logo {}

  .main-logo__icon {
    width: 25px;
    height: 25px;
}

  .main-logo__title {
    display: inline-block;
    height: 25px;
}
}




.main-menu-icon {
  width: 25px;
  height: 25px;
}

.main-menu-icon svg {
  fill: rgba(var(--rgba-light-color),0.6);
}



.user-notification-icon {
  width: 30px;
  height: 30px;
}

.user-notification-icon svg {
  fill: rgba(var(--rgba-light-color),0.6);
}


/* user-notification-modal */
.user-notification-modal {
  display: none;
  width: 100vw;
  max-width: var(--main-container-max-width);
  height: 100vh;
  padding: 5px 2px;
  position: fixed;
  z-index: 10;
  top: 0;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: rgba(var(--rgba-light-color), 0.5);
  animation: userNotificationModalAnimation 0.5s ease 1 both;
}

@keyframes userNotificationModalAnimation {
  0% {
    top: -50%;
  }

  60% {
    top: 10%;
  }

  80% {
    top: -5%;
  }

  100% {
    top: 0;
  }

}

.user-notification-content {
  width: 100%;
  height: 60%;
  padding: 5px 5px;
  border: 1px solid rgba(var(--rgba-dark-color), 0.2);
  border-radius: 7px;
  background-color: var(--light-color);
  overflow-x: hidden;
  overflow-y: auto;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
}

.user-notification-content::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}


.user-notification-content__row {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.user-notification-content__title {
  width: 100%;
  font-size: 20px;
  font-weight: 800;
  color: var(--dark-color);
  border-bottom: 1px solid rgba(var(--rgba-dark-color), 0.2);

}

.user-notification-modal__close-btn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translate(0, -50%);
  font-size: 16px;
  font-weight: 700;
  background-color: var(--dark-color);
  color: var(--light-color);
  padding: 0 4px;
  border-radius: 6px;
}

.user-notification-container {
  width: 100%;
  padding: 5px 5px;
  background-color: var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* ///////////////////////////////////// */
.link-preview {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 5px solid rgba(var(--rgba-first-color), 0.7);
  border-radius: 15px 0 0 15px;
  padding: 5px 5px 5px 10px;
  overflow: hidden;
  box-shadow: 2px 2px 10px rgba(var(--rgba-first-color), 0.6);
}

.link-preview__link {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  text-decoration: none;
}

.link-preview__title {
  font-size: 20px;
  font-weight: 800;
  text-align: left;
  color: rgba(var(--rgba-first-color), 1);
  overflow-wrap: anywhere;
  word-break: break-word;
}

.link-preview__pic {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0 0 5px;
}

.link-preview__pic--img {
  padding: 0 5px 0 0;
}

.link-preview__pic--svg {
  border: 1px solid rgba(var(--rgba-first-color), 0.1);
  border-radius: 10px;
}

.link-preview__pic img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.link-preview__pic svg {
  width: 100%;
  max-width: 150px;
  /* height: 100%; */
  padding: 15px;
  fill: rgba(var(--rgba-first-color), 1);
}

.link-preview__desc {
  font-size: 15px;
  font-weight: 500;
  text-align: left;
  color: rgba(var(--rgba-first-color), 1);
  overflow-wrap: anywhere;
  word-break: break-word;
}

.link-preview__site {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.link-preview__site-name {
  font-size: 14px;
  font-weight: 800;
  text-align: left;
  color: rgba(var(--rgba-first-color), 1);
  overflow-wrap: anywhere;
  word-break: break-word;
  margin: 0 0 0 4px;
}

.link-preview__site-icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

.link-preview__site-icon--img {
  width: 25px;
  height: 25px;
}

.link-preview__site-icon--svg {
  width: 20px;
  height: 20px;
}

.link-preview__site-icon img {
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
}

.link-preview__site-icon svg {
  width: 100%;
  height: 100%;
  fill: rgba(var(--rgba-first-color), 1);
}