.profile-main-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;


}

@media screen and (min-width: 800px) {
    .profile-main-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(var(--rgba-dark-color), 1);
    }
}

@media screen and (max-width: 799px) {
    .profile-main-container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(var(--rgba-dark-color), 1);
    }
}

.profile-content-box {
    position: relative;
    width: 100%;
    max-width: 1000px;
    height: 100%;
    /* border: 2px solid rgba(var(--rgba-dark-color), 1); */

    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

@media screen and (min-width: 800px) {
    .profile-content-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(var(--rgba-dark-color), 1);
    }
}

@media screen and (max-width: 799px) {
    .profile-content-box {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: rgba(var(--rgba-dark-color), 1);
    }
}

.profile-content-box::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}



.profile-info-section {
    width: 100%;
}

.profile-pic {
    position: relative;

}

.profile-pic img {
    display: none;
}

.profile-pic svg {
    display: none;
}

.profile-pic--img img {
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.profile-pic--svg svg {
    display: inline-block;
    fill: rgba(var(--rgba-dark-color), 0.7);
}


@media screen and (min-width: 800px) {

    .profile-info-section {
        padding: 20px 0 0 0;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-start;
    }

    .profile-pic {
        width: 180px;
        height: 180px;
        border-radius: 50%;
        overflow: hidden;
        background: rgba(var(--rgba-light-color), 0.3);
        border: 1px solid rgba(var(--rgba-light-color), 0.2);
    }

    /* .profile-pic--img img {} */
    .profile-pic--svg {
        padding: 44px;
    }

    .profile-pic--svg svg {
        display: inline-block;
        fill: rgba(var(--rgba-light-color), 0.3);
    }
}

@media screen and (max-width: 799px) {

    .profile-info-section {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .profile-pic {
        width: 100%;
        height: 50vh;
        max-height: 350px;
        overflow: hidden;
        background: rgba(var(--rgba-light-color), 0.3);
    }

    .profile-pic::after {
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translate(-50%, -50%);
        content: '';
        z-index: 1;
        width: 100%;
        min-width: 400px;
        height: 60px;
        border-radius: 50%;
        background: rgba(var(--rgba-dark-color), 1);
    }




    /* .profile-pic--img img {} */

    .profile-pic--svg svg {
        position: absolute;
        bottom: 50%;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 150px;
        height: 150px;
        fill: rgba(var(--rgba-light-color), 0.3);
    }
}



.profile-info {
    position: relative;
}

@media screen and (min-width: 800px) {
    .profile-info {
        padding: 0 10px 0 70px;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
    }

}

@media screen and (max-width: 799px) {
    .profile-info {
        width: 100%;
        padding: 0 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

}


.profile-info__row {}

.profile-info__username {
    font-size: 25px;
    font-weight: 800;
    color: rgba(var(--rgba-dark-color), 1);
}

@media screen and (min-width: 800px) {

    .profile-info__row {
        width: 100%;
        height: 100%;
        display: flex;
        /* flex-direction: column; */
        justify-content: flex-start;
        align-items: center;
    }

    .profile-info__username {
        font-size: 25px;
        font-weight: 800;
        color: rgba(var(--rgba-light-color), 0.9);
    }

}

@media screen and (max-width: 799px) {

    .profile-info__row {
        width: 100%;
        display: flex;
        /* flex-direction: column; */
        justify-content: center;
        align-items: center;
    }

    .profile-info__username {
        font-size: 25px;
        font-weight: 800;
        color: rgba(var(--rgba-light-color), 0.9);
    }

}


.profile-info__btn-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}



.profile-info__btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 16px;
    font-weight: 800;
    padding: 4px 10px;
    margin: 0 5px;
    border: 1px solid rgba(var(--rgba-dark-color), 0.4);
    border-radius: 10px;
    color: rgba(var(--rgba-dark-color), 1);
    background: rgba(var(--rgba-fourth-color), 1);
}

.profile-info__btn svg {
    width: 30px;
    height: 30px;
    fill: rgba(var(--rgba-dark-color), 1);
}

@media screen and (min-width: 800px) {

    .profile-info__btn-container {
        margin: 0 0 0 30px;
    }

    .profile-info__btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 16px;
        font-weight: 800;
        padding: 4px 10px;
        margin: 0 5px;
        border: 1px solid rgba(var(--rgba-light-color), 0.6);
        border-radius: 10px;
        color: rgba(var(--rgba-light-color), 0.9);
        background: rgba(var(--rgba-dark-color), 1);
    }

    .profile-info__btn svg {
        width: 30px;
        height: 30px;
        fill: rgba(var(--rgba-light-color), 0.9);
    }


}

@media screen and (max-width: 799px) {

    .profile-info__btn-container {
        padding: 0 0 0 10px;
    }

    .profile-info__btn {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 15px;
        font-weight: 800;
        padding: 4px 10px;
        margin: 0 5px;
        border: 1px solid rgba(var(--rgba-light-color), 0.4);
        border-radius: 10px;
        color: rgba(var(--rgba-light-color), 1);
        background: rgba(var(--rgba-dark-color), 1);
        box-shadow: 1px 1px 5px rgba(var(--rgba-third-color), 0.2);
    }

    .profile-info__btn svg {
        width: 25px;
        height: 25px;
        fill: rgba(var(--rgba-light-color), 0.9);
    }


}

.profile-info__data {}

.profile-info__data-count {
    color: rgba(var(--rgba-light-color), 0.6);
}

.profile-info__data-count span {}


@media screen and (min-width: 800px) {


    .profile-info__data {
        display: flex;
        width: 100%;
        justify-content: space-around;
        margin: 10px 0 0 0;
    }

    .profile-info__data-count {}

    .profile-info__data-count span {
        font-size: 17px;
        /* font-weight: 800; */
        /* color: rgba(var(--rgba-light-color),0.6); */
    }


}

@media screen and (max-width: 799px) {


    .profile-info__data {
        display: none;
    }

    .profile-info__data-count {}

    .profile-info__data-count span {}


}

.profile-info__fullname {}

.profile-info__bio {}

@media screen and (min-width: 800px) {
    .profile-info__fullname {
        margin: 20px 0 0 0;
        font-size: 18px;
        font-weight: 700;
        text-align: left;
        color: rgba(var(--rgba-light-color), 0.7);
    }

    .profile-info__bio {
        margin: 5px 0 0 0;
        font-size: 16px;
        font-weight: 600;
        text-align: left;
        color: rgba(var(--rgba-light-color), 0.5);
    }


}


@media screen and (max-width: 799px) {

    .profile-info__fullname {
        margin: 10px 0 0 0;
        font-size: 18px;
        font-weight: 700;
        text-align: center;
        color: rgba(var(--rgba-light-color), 0.6);
    }

    .profile-info__bio {
        margin: 0px 0 0 0;
        font-size: 16px;
        font-weight: 600;
        text-align: center;
        color: rgba(var(--rgba-light-color), 0.6);
    }

}



.profile-data-section {
    width: 100%;
    margin: 50px 0 0 0;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}



.profile-data {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border-right: 1px solid rgba(var(--rgba-light-color), 0.1);
    cursor: pointer;
}

.profile-data:last-child {
    border: none;
}

.profile-data__count {
    font-size: 20px;
    font-weight: 800;
    color: rgba(var(--rgba-light-color), 0.8);
}

.profile-data__info {
    font-size: 16px;
    font-weight: 600;
    color: rgba(var(--rgba-light-color), 0.6);
}

.profile-data__label {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    padding: 2px 5px;
}

.profile-data__label--request-count {
    background: rgba(var(--rgba-third-color), 1);
    border-radius: 50%;
    font-size: 20px;
    font-weight: 800;
    padding: 0px 7px;
    color: rgba(var(--rgba-dark-color), 1);
}

.profile-data__label--request-count::before {
    position: absolute;
    right: 100%;
    top: 50%;
    transform: translate(-4px, -50%);
    content: "+";
    font-size: 20px;
    font-weight: 900;
    color: rgba(var(--rgba-third-color), 1);
}





.profile-btn-section {}


.profile-btn-section--profile-info {
    display: none;
}

.profile-btn-section--main {
    display: none;
}



@media screen and (min-width: 800px) {
    .profile-btn-section--profile-info {
        display: flex;
        justify-content: space-around;
        align-items: center;
        /* padding: 10px; */
    }
}

@media screen and (max-width: 799px) {
    .profile-btn-section--main {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        padding: 10px;
        margin: 40px 0 0 0;
    }
}


.profile-btn {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* margin: 0 5px; */
    border: 1px solid rgba(var(--rgba-light-color), 0.4);
    border-radius: 10px;
    color: rgba(var(--rgba-light-color), 0.9);
    background: rgba(var(--rgba-dark-color), 1);
    cursor: pointer;
}


.profile-btn-section--profile-info .profile-btn {
    font-size: 16px;
    font-weight: 800;
    padding: 6px 10px;
    margin: 0 5px;
}



.profile-btn-section--main .profile-btn {
    font-size: 14px;
    font-weight: 700;
    padding: 6px 8px;
    margin: 0 5px;
}

.profile-btn svg {
    fill: rgba(var(--rgba-light-color), 0.9);
    margin: 0 5px 0 0;
}


.profile-btn-section--profile-info .profile-btn svg {
    width: 28px;
    height: 28px;
    margin: 0 5px 0 0;
}

.profile-btn-section--main .profile-btn svg {
    width: 24px;
    height: 24px;
    margin: 0 5px 0 0;
}



.profile-btn--follow {
    color: rgba(var(--rgba-dark-color), 0.9);
    background: rgba(var(--rgba-third-color), 1);
    border: 1px solid rgba(var(--rgba-dark-color), 0.4);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(var(--rgba-light-color), 0.1);
}

.profile-btn-section--profile-info .profile-btn--follow {
    font-weight: 900;
}

.profile-btn--follow svg {
    fill: rgba(var(--rgba-dark-color), 0.9);
}

.profile-btn--unfollow {
    color: rgba(var(--rgba-light-color), 1);
    background: rgba(var(--rgba-light-color), 0.2);
    border: 1px solid rgba(var(--rgba-light-color), 0.4);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(var(--rgba-light-color), 0.1);
}

.profile-btn--unfollow svg {
    fill: rgba(var(--rgba-light-color), 0.9);
}

.profile-btn--cancel-sent-follow-request {
    color: rgba(var(--rgba-light-color), 0.7);
    background: rgba(var(--rgba-second-color), 0.2);
    border: 1px solid rgba(var(--rgba-light-color), 0.4);
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(var(--rgba-light-color), 0.1);
}

.profile-btn--cancel-sent-follow-request svg {
    fill: rgba(var(--rgba-light-color), 0.7);
}






/* //////// */
.profile-content-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 40px 0 0 0;
}

.profile-content-nav {
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px;
    border-top: 1px solid rgba(var(--rgba-light-color), 0.1);
    border-bottom: 1px solid rgba(var(--rgba-light-color), 0.1);
}

.profile-content-nav__info {
    width: 100%;
    font-size: 20px;
    font-weight: 800;
    color: rgba(var(--rgba-light-color), 0.8);
}

.profile-content-nav__btn-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.profile-content-nav__btn {
    margin: 0 10px 0 0;
    background: rgba(var(--rgba-light-color), 1);
    border-radius: 50%;
    border: 1px solid rgba(var(--rgba-dark-color), 1);
    width: 32px;
    height: 32px;
    padding: 6px;
    transition: all 0.5s;
}


.profile-content-nav__btn:last-child {
    margin: 0;
}

.profile-content-nav__btn svg {
    fill: rgba(var(--rgba-dark-color), 1);
}

.profile-content-nav__btn--active {
    background: rgba(var(--rgba-dark-color), 1);
    border-radius: 50%;
    width: 45px;
    height: 45px;
    padding: 8px;
}

.profile-content-nav__btn--active svg {
    fill: rgba(var(--rgba-light-color), 1);
}

@media screen and (min-width: 800px) {

    .profile-content-nav__btn {
        margin: 0 10px 0 0;
        background: rgba(var(--rgba-dark-color), 1);
        border-radius: 50%;
        border: 1px solid rgba(var(--rgba-light-color), 0.6);
        width: 40px;
        height: 40px;
        padding: 8px;
        transition: all 0.3s;
    }

    .profile-content-nav__btn svg {
        fill: rgba(var(--rgba-light-color), 0.6);
    }

    .profile-content-nav__btn--active {
        background: rgba(var(--rgba-light-color), 0.6);
        border-radius: 50%;
        width: 45px;
        height: 45px;
        padding: 8px;
    }

    .profile-content-nav__btn--active svg {
        fill: rgba(var(--rgba-dark-color), 1);
    }

}


@media screen and (max-width: 799px) {

    .profile-content-nav__btn {
        margin: 0 10px 0 0;
        background: rgba(var(--rgba-dark-color), 1);
        border-radius: 50%;
        border: 1px solid rgba(var(--rgba-light-color), 0.4);
        width: 32px;
        height: 32px;
        padding: 6px;
        transition: all 0.5s;
    }

    .profile-content-nav__btn svg {
        fill: rgba(var(--rgba-light-color), 0.7);
    }

    .profile-content-nav__btn--active {
        background: rgba(var(--rgba-light-color), 0.9);
        border-radius: 50%;
        width: 45px;
        height: 45px;
        padding: 8px;
    }

    .profile-content-nav__btn--active svg {
        fill: rgba(var(--rgba-dark-color), 1);
    }

}



.profile-content-data {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    /* margin: 5px 0; */
}



.profile-post {
    width: 33%;
    height: 33vw;
    max-height: 266px;
    padding: 1px;
    overflow: hidden;
}

.profile-post img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.private-content-data {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* border-top: 1px solid rgba(var(--rgba-light-color),0.1); */
}



@media screen and (min-width: 800px) {
    .private-content-data {}

}

@media screen and (max-width: 799px) {
    .private-content-data {}

}

.private-content-data__title {}

@media screen and (min-width: 800px) {

    .private-content-data__title {
        font-size: 20px;
        font-weight: 800;
        color: rgba(var(--rgba-light-color), 0.8);
        text-align: center;
        margin: 10px 0 0 0;
    }
}

@media screen and (max-width: 799px) {
    .private-content-data__title {
        font-size: 16px;
        font-weight: 800;
        color: rgba(var(--rgba-light-color), 0.8);
        text-align: center;
        /* margin: 20px 0 0 0; */
    }

}


.private-content-data__desc {}

@media screen and (min-width: 800px) {
    .private-content-data__desc {
        font-size: 16px;
        font-weight: 600;
        color: rgba(var(--rgba-light-color), 0.8);
        text-align: center;
        margin: 2px 0 0 0;
    }

}

@media screen and (max-width: 799px) {
    .private-content-data__desc {
        margin: 2px 0 40px 0;
        font-size: 16px;
        font-weight: 600;
        color: rgba(var(--rgba-light-color), 0.8);
        text-align: center;
    }

}

/* ownerSettingsSection */

.owner-setting-options-modal {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--rgba-light-color), 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.owner-setting-options-modal.hide {
    display: none;
}

.setting-options-content {
    width: 80%;
    max-width: 370px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
    background-color: rgba(var(--rgba-dark-color), 1);
    border-radius: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    animation: ownerSettingOptionsAnim 1s both 1;
}

.setting-options-content::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.setting-option {
    width: 100%;
    text-align: center;
    color: rgba(var(--rgba-light-color), 0.7);
    border-bottom: 1px solid rgba(var(--rgba-light-color), 0.1);
    cursor: pointer;
    font-size: 17px;
    font-weight: 700;
    padding: 15px 10px;
}

.setting-option:last-child {
    border: none;
}


/* profileOwnerSettingActionSection  */

/* inner modal  */
.inner-modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--rgba-fourth-color), 0.8);
}

.inner-modal.hide {
    display: none;
}

.inner-modal-content {
    position: relative;
    width: 98%;
    max-width: 483px;
    height: auto;
    max-height: 90%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    /* padding: 10px 10px; */
    border-radius: 12px;
    background: rgba(var(--rgba-dark-color), 1);
    animation: innerModalContentAnimation 1.5s ease both;
    overflow: hidden;
}


@keyframes innerModalContentAnimation {
    0% {
        transform: scale(0);
        transform-origin: center bottom;
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

}



.inner-modal__close-btn {
    /* width: 40px; */
    /* height: 40px; */
    font-size: 21px;
    font-weight: 800;
    text-align: center;
    padding: 4px 11px;
    margin: 2px 0 3px 0;
    border-radius: 50%;
    border: 3px solid rgba(var(--rgba-third-color), 1);
    background: rgba(var(--rgba-first-color), 1);
    color: rgba(var(--rgba-fourth-color), 1);
}




.inner-modal-content__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.inner-modal-content__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}




/* other-user-modal */


.other-user-modal {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
    width: 100%;
    height: 100%;
    background-color: rgba(var(--rgba-fourth-color), 0.8);
}

.other-user-modal.hide {
    display: none;
}

.other-user-modal__close-btn {
    font-size: 21px;
    font-weight: 800;
    text-align: center;
    padding: 4px 11px;
    margin: 2px 0 3px 0;
    border-radius: 50%;
    border: 3px solid rgba(var(--rgba-third-color), 1);
    background: rgba(var(--rgba-first-color), 1);
    color: rgba(var(--rgba-fourth-color), 1);
}

.other-user-modal-content {
    position: relative;
    width: 98%;
    max-width: 483px;
    height: auto;
    max-height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    /* padding: 10px 12px; */
    border: 5px solid rgba(var(--rgba-dark-color), 1);
    border-radius: 12px;
    background: rgba(var(--rgba-dark-color), 1);
    animation: otherUserModalAnim 1.5s ease both;
    transition: all 0.5s;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.other-user-modal-content::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;

}

@keyframes otherUserModalAnim {

    0% {
        transform: scale(0);
        transform-origin: center bottom;
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }

    /* 0% {
        top: -50%;
    }

    60% {
        top: 10%;
    }

    80% {
        top: -5%;
    }

    100% {
        top: 0;
    } */
}

.other-user-modal-content__row {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.other-user-modal-content__column {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}



.switch-btn-container {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(var(--rgba-third-color), 1);
    /* color: rgba(var(--rgba-light-color), 1); */
}

.switch-btn-container::after {
    content: '';
    width: 100%;
    height: 8px;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 2;
    background: linear-gradient(rgba(var(--rgba-third-color), 1), transparent);
}

.switch-btn {
    position: relative;
    width: 100%;
    padding: 5px 0px;
    text-align: center;
    font-size: 15px;
    font-weight: 800;
    color: rgba(var(--rgba-light-color), 1);
    transition: all 0.2s;
    cursor: pointer;
}

.switch-btn--active {
    font-weight: 800;
    font-size: 20px;
    color: rgba(var(--rgba-dark-color), 1);
}



.other-user-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 10px 10px;
    width: 100%;
}

.other-user-container.hide {
    display: none;
}



.other-user-container__title {
    width: 100%;
    font-size: 18px;
    font-weight: 800;
    color: rgba(var(--rgba-light-color), 0.8);
    text-decoration: underline 2px;
    margin: 10px 0 0 0;
}

/* .other-user-container--received-follow-request {}

.other-user-container--follower {}

.other-user-container--following {} */

.user-box-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    color: rgba(var(--rgba-light-color), 1);
    background-color: rgba(var(--rgba-dark-color), 1);
    padding: 5px 0;

}

.user-box-container--received-follow-request {}

.other-user-container--received-follow-request .user-box-container--received-follow-request {
    max-height: 200px;
    overflow-x: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
}

.other-user-container--received-follow-request .user-box-container--received-follow-request::-webkit-scrollbar {
    /* WebKit */
    width: 0;
    height: 0;
}

.other-user-container--follower .user-box-container--received-follow-request {
    max-height: 60px;
    overflow: hidden;
    transition: all 0.5s;
}

.user-box-container--follower {}

.other-user-container--received-follow-request .user-box-container--follower {
    max-height: 105px;
}

.other-user-container--follower .user-box-container--follower {
    max-height: fit-content;
}

.user-box-container--following {}

.other-user-container-btn-field {
    margin: 10px 0 0 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.other-user-container-btn {
    width: 30px;
    height: 30px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(var(--rgba-light-color), 0.5);
    /* border: 1px solid rgba(var(--rgba-first-color), 1); */
    border-radius: 50%;
    cursor: pointer;
}

.other-user-container-btn__icon {
    width: 100%;
    height: 100%;
}

.other-user-container-btn__icon svg {
    fill: rgba(var(--rgba-dark-color), 1);
    stroke-width: 7px;
    stroke: rgba(var(--rgba-dark-color), 1);
}

.other-user-container-btn__icon--selected {
    display: none;
}

.other-user-container-btn--selected .other-user-container-btn__icon--selected {
    display: flex;
    justify-content: center;
    align-items: center;
}

.other-user-container-btn__icon--unselected {
    display: none;
}

.other-user-container-btn--unselected .other-user-container-btn__icon--unselected {
    display: flex;
    justify-content: center;
    align-items: center;
}