

<link rel="stylesheet" href="/stylesheets/news/newsModel.css">
<!-- The Modal -->
<div id="newsModal" class="news-modal">

  <!-- Modal content -->
  <div class="modal-inner" id="modalInner">
    <span class="close-btn" id="closeBtn" >&times;</span>
    <div class="preloader" id="preloader">
      <hr/><hr/><hr/><hr/>
    </div>


    
    <div class="modal-content" id="modalContent">
     
    </div>
    
  </div>
</div>