<option value="andhra pradesh">Andhra Pradesh</option>

<option value="arunachal pradesh">Arunachal Pradesh</option>

<option value="assam">Assam</option>

<option value="bihar">Bihar</option>

<option value="chhattisgarh">Chhattisgarh</option>

<option value="goa">Goa</option>

<option value="gujarat">Gujarat</option>

<option value="haryana">Haryana</option>

<option value="himachal pradesh">Himachal Pradesh</option>

<option value="jammu and kashmir">Jammu and Kashmir</option>

<option value="jharkhand">Jharkhand</option>

<option value="karnataka">Karnataka</option>

<option value="kerala">Kerala</option>

<option value="madhya pradesh">Madhya Pradesh</option>

<option value="maharashtra">Maharashtra</option>

<option value="manipur">Manipur</option>

<option value="meghalaya">Meghalaya</option>

<option value="mizoram">Mizoram</option>

<option value="nagaland">Nagaland</option>

<option value="odisha">Odisha</option>

<option value="punjab">Punjab</option>

<option value="rajasthan">Rajasthan</option>

<option value="sikkim">Sikkim</option>

<option value="tamil nadu">Tamil Nadu</option>

<option value="telangana">Telangana</option>

<option value="tripura">Tripura</option>

<option value="uttar pradesh" selected>Uttar Pradesh</option>

<option value="uttarakhandh">Uttarakhandh</option>

<option value="west bengal">West Bengal</option>