.calltype-info-container {
    width: 100%;
    max-width: 640px;
    min-height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid #54ab52; */
    border-radius: 10px;
    overflow: hidden;
    background: rgba(var(--rgba-third-color), 0.1);
}

.calltype-info {
    width: 100%;
    height: 100%;
    align-self: flex-end;
    /* background: rgba(var(--rgba-third-color), 0.1); */
}

.calltype-info--hide {
    display: none;
}

.calltype-info__preview {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background: rgba(var(--rgba-first-color), 0.7); */
    width: 100%;
    /* min-height: 100%; */
    border-bottom: 1px solid rgba(var(--rgba-fourth-color), 0.1);
}



.calltype-info__preview video {
    width: 100%;
}

/* 
.calltype-info__preview--screen-share video {
    width: 100%;
    transform: scaleX(-1);
} */

.calltype-info__preview--camera video {

    transform: scaleX(-1);
    /* transform: scaleX(-1); */
}

.video-off-preview {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    background: rgba(var(--rgba-second-color), 0.1);
    display: none;
}

.video-off-preview svg {
    width: 30px;
    height: 30px;
    fill: rgba(var(--rgba-fourth-color), 0.8);
}

.video-off-preview__title {
    margin: 4px 0 0 0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgba(var(--rgba-fourth-color), 0.8);
}

.calltype-info__preview--video-off .video-off-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.calltype-info__preview--video-off video {
    opacity: 0;
}

.audio-off-preview {
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    padding: 5px 5px;
    display: none;
}

.audio-off-preview svg {
    width: 20px;
    height: 20px;
    fill: rgba(var(--rgba-fourth-color), 0.8);
}

/* .audio-off-preview__title {
    margin: 4px 0 0 0;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    color: rgba(var(--rgba-fourth-color), 0.8);
} */


.calltype-info__preview--audio-off .audio-off-preview {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.calltype-info__btn-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0 8px 0;
}

.calltype-info-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border: 1px solid rgba(var(--rgba-first-color), 1); */
    margin: 0 15px;
    padding: 9px;
    border-radius: 50%;
    cursor: pointer;
}

.calltype-info-btn--hide {
    display: none;
}

.calltype-info-btn__icon {
    width: 100%;
    height: 100%;
}

.calltype-info-btn__icon svg {
    fill: rgba(var(--rgba-fourth-color), 0.8);
}

.calltype-info-btn__icon--selected {
    display: none;
}

.calltype-info-btn__icon--selected svg {
    fill: rgba(var(--rgba-first-color), 1);
}

.calltype-info-btn--selected {
    background: rgba(var(--rgba-fourth-color), 1);
}

.calltype-info-btn--selected .calltype-info-btn__icon--selected {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calltype-info-btn__icon--unselected {
    display: none;
}

.calltype-info-btn__icon--unselected svg {
    fill: rgba(var(--rgba-fourth-color), 0.8);
}

.calltype-info-btn--unselected {
    background: rgba(var(--rgba-fourth-color), 0.1);
}

.calltype-info-btn--unselected .calltype-info-btn__icon--unselected {
    display: flex;
    justify-content: center;
    align-items: center;
}

.calltype-message {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px 10px;
    /* background: rgba(var(--rgba-third-color), 0.1); */
}

.calltype-message--hide {
    display: none;
}


.calltype-message__title {
    font-size: 16px;
    font-weight: 800;
    text-align: center;
    color: rgba(var(--rgba-fourth-color), 0.9);
}

.calltype-message__desc {
    font-size: 14px;
    font-weight: 400;
    text-align: center;
    color: rgba(var(--rgba-fourth-color), 0.6);
    margin: 16px 0 0 0;
}


.calltype-message__desc svg {
    display: inline-block;
    width: 15px;
    height: 15px;
    fill: rgba(var(--rgba-fourth-color), 0.9);
}

.calltype-message__desc span {
    font-size: 14px;
    font-weight: 800;
    text-align: center;
    color: rgba(var(--rgba-second-color), 0.7);
}

.calltype-message__btn {
    margin: 20px 0 0 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 5px 8px;
    color: rgba(var(--rgba-fourth-color), 0.9);
    background: rgba(var(--rgba-fourth-color), 0.1);
    font-size: 14px;
    font-weight: 800;
    border-radius: 10px;
    cursor: pointer;
}

.calltype-message__btn--hide {
    display: none;
}